@@include('../include/head.html')

<div class="show-global-class">
  <h3 class="page-header">全局<code>class</code>类</h3>
  <p>为了大家的方便我定义了一些全局的类：在使用的时候直接给元素添加这个类名就可以，<span class="text-warning">因为这些class的权重是最高的，所以在需要的时候再使用</span></p>
  <div class="show-margin-div">
    <h4 class="page-header">外间距类：</h4>
    <p>外间距类分有：<code>margin-t-5</code>：上间距有5像素，<code>margin-r-5</code>：右间距有5像素，<code>margin-b-5</code>：下间距有5像素，<code>margin-l-5</code>：左间距有5像素；其中后边的数值可以更改，目前只有<code>5</code>、<code>10</code>、<code>15</code>、<code>20</code></p>
    <ul class="list">
      <li class="margin-b-5">前端技术的发展</li>
      <li class="margin-r-5">前端职位的崛起</li>
      <li class="margin-t-5">什么是前端开发，您真的了解前端吗？</li>
      <li class="margin-l-5">谈一下您对前端开发的理解</li>
      <li class="margin-b-10">前端技术都需要掌握哪些知识？</li>
      <li class="margin-b-15">前端技术都需要掌握哪些知识？</li>
      <li class="margin-r-10">前端未来的发展方向</li>
      <li class="margin-r-15">前端未来的发展方向</li>
      <li class="margin-t-10">前端的最新技术是什么？</li>
      <li class="margin-t-15">前端的最新技术是什么？</li>
      <li class="margin-l-10">为什么前端开发越来越复杂？</li>
      <li class="margin-l-15">为什么前端开发越来越复杂？</li>
    </ul>
    <pre class="html" name="pre">
<ul class="list">
  <li class="margin-b-5">前端技术的发展</li>
  <li class="margin-r-5">前端职位的崛起</li>
  <li class="margin-t-5">什么是前端开发，您真的了解前端吗？</li>
  <li class="margin-l-5">谈一下您对前端开发的理解</li>
  <li class="margin-b-10">前端技术都需要掌握哪些知识？</li>
  <li class="margin-b-15">前端技术都需要掌握哪些知识？</li>
  <li class="margin-r-10">前端未来的发展方向</li>
  <li class="margin-r-15">前端未来的发展方向</li>
  <li class="margin-t-10">前端的最新技术是什么？</li>
  <li class="margin-t-15">前端的最新技术是什么？</li>
  <li class="margin-l-10">为什么前端开发越来越复杂？</li>
  <li class="margin-l-15">为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  </div>
</div>

@@include('../include/foot.html')
