@@include('../include/head.html')

<div class="show-colorpicker">
    <h3 class="page-header">颜色选择器</h3>
    <div class="colorpicker-box">
        <div>
            <span class="color-picker-element" data-toggle="colorPicker" data-val="#cc0" style="background-color:#cc0;">
                <input type="hidden" value="#ccc">
            </span>
        </div>
    </div>
    <pre class="html" name="pre">
    </pre>

</div>

<div class="show-colorpicker">
        <h3 class="page-header">颜色选择器大小：</h3>
        <div class="colorpicker-box">
            <div>
                小：
                <span class="color-picker-element sm" data-toggle="colorPicker" data-val="#cc0" style="background-color:#cc0;">
                    <input class="clolr-input" type="hidden" value="#cc0">
                </span>
                默认：
                <span class="color-picker-element" data-toggle="colorPicker" data-val="#cc0" style="background-color:#cc0;">
                    <input type="hidden" value="#ccc">
                </span>
                大：
                <span class="color-picker-element lg" data-toggle="colorPicker" data-val="#c0c" style="background-color:#c0c;">
                    <input type="hidden" value="#c0c">
                </span>
            </div>
        </div>
        <pre class="html" name="pre">
        </pre>

    </div>

@@include('../include/foot.html')
