@@include('../include/head.html')
<style>
  .main-wrap{
    width: 500px;
    height: 200px
  }
</style>
<div class="show-iframe-popup">
  <div class="row">
    <div class="col-md-24">
      <h2>这是弹窗里边的内容</h2>
      <button class="btn btn-primary" id="close">调用弹窗本身方法关闭</button>
      <button class="btn btn-outline-danger" id="parentFun">调用父级方法关闭</button>
      <button class="btn btn-outline-danger" id="parentHide">隐藏</button>
      <a href="big_popup_iframe.html">这是跳转链接测试</a>
    </div>
  </div>
  <form action="" method="get">
    <button class="btn btn-primary">提交本页</button>
  </form>
  <script type="text/javascript">
    var winP = window.parent;
    $('#close').on('click', function(){
      popup.popupClose();
    });
    $('#parentFun').on('click', function(){
      winP.evPopup[window.name].popupClose();
    });
    $('#parentHide').on('click', function(){
      winP.evPopup[window.name].popupHide();
    });
  </script>
</div>
@@include('../include/foot.html')
