@@include('../include/head.html')
<div class="show-popup">
  <h3 class="page-header">模态提示框</h3>
  <p class="text-warning">各位非常抱歉，通过在做微圈的时候使用这个弹窗我发现，用到咱们现在的后台后出现很多的问题，和操作不便，再加上和以前的插件命名冲突，所以这次我从新改了一下这个模态框插件；各位已经使用过这个插件的还麻烦你们修改一下。</p>
  <h4>我们想要实现一个弹窗效果有两种方式：</h4>
  <ol class="arr-explain-list">
    <li>我们可以给任何的标签元素添加<code>data-toggle="popup"</code>属性来实现打开模态框，不同类型的模态框添加的属性不一样;</li>
    <li>可以通过调用方法的形式来实现，<span class="text-warning">这次我把所有的方法前边都加了一个前缀ev，并且把参数都由数组改成了对象，更加直观</span>;目前定义了几种弹窗的方法如下：
      <ul class="list-type-lower-roman">
        <li><code>$.evPopupAlert(arguments)</code>：打开一个带<b>确定</b>按钮的提示框。</li>
        <li><code>$.evPopupPoint(arguments)</code>：打开一个提示信息。</li>
        <li><code>$.evPopupConfirm(arguments)</code>：打开一个带<b>确定</b>，<b>取消</b>按钮的提示框。</li>
        <li><code>$.evPopupIframe(arguments)</code>：打开一个iframe的弹出框。</li>
        <li><code>$.evPopupHtml(arguments)</code>：打开一个自定义代码的弹出框。</li>
        <li><code>$.evPopupLoading(arguments)</code>：打开一个加载等待层。</li>
        <li><code>$.evPopup(arguments)</code>：弹窗的高级使用。</li>
      </ul>
    </li>
  </ol>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个带<b>确定</b>按钮的提示框</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="alert" data-popup-head="这是我的弹窗标题" data-popup-hint="这是我的提示内容">
        <span>属性方式弹出提示框</span>
      </button>
    </p>
    <pre class="html" name="pre">
<button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="alert" data-popup-head="这是我的弹窗标题" data-popup-hint="这是我的提示内容">
  <span>属性方式弹出提示框</span>
</button>
    </pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="alert"</code>：表示打开一个带确定按钮的提示框，<span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-head="这是我的弹窗标题"</code>：打开窗口的标题</dd>
      <dd><code>data-popup-hint="这是我的提示内容"</code>：打开窗口的提示消息</dd>
    </dl>
    <h4><srrong>方法调用方式打开：</srrong></h4>
    <button type="button" id="fun_alert_1" class="btn btn-primary">
      <span>默认提示框</span>
    </button>
    <script type="text/javascript">
      $('#fun_alert_1').on('click', function () {
          $.evPopupAlert({
            head: '弹窗标题',
            hint: '弹窗提示框',
            shade: false,
            icon: 2,
            btn: {
              text: '确定', className: 'btn-outline-primary', callBack: function () {
                $.evPopupPoint({hint: '单击了确定回调'})
              }
            },
            closeCallBack: function () {
              $.evPopupPoint({hint: '执行了关闭回调'})
            }
          });
        });
    </script>
    <pre class="js" name="pre">
//html代码
&lt;button type="button" id="fun_alert_1" class="btn btn-primary"&gt;
  <span>调用方法弹出提示框</span>
&lt;/button&gt;
//js代码
$('#fun_alert_1').on('click', function(){
  $.evPopupAlert({
    head: '弹窗标题',
    hint: '弹窗提示框',
    icon: 2,
    btn: {
      text: '确定', className: 'btn-primary btn-lg', callBack: function () {
        $.evPopupPoint({hint: '单击了确定回调'})
      }
    },
    closeCallBack: function () {
      $.evPopupPoint({hint: '执行了关闭回调'})
    }
  });
});
      </pre>
    <h5>弹窗位置</h5>
    <div id="fun_alert_object">
      <h5>调用本iframe方法，创建到iframe中窗口</h5>
      <button type="button" data-pos="t-l" class="btn">
        <span>上左</span>
      </button>
      <button type="button" data-pos="t-c" class="btn btn-success">
        <span>上中</span>
      </button>
      <button type="button" data-pos="t-r" class="btn btn-danger">
        <span>上右</span>
      </button>
      <button type="button" data-pos="m-l" class="btn btn-warning">
        <span>中左</span>
      </button>
      <button type="button" data-pos="m-c" class="btn btn-info">
        <span>中间</span>
      </button>
      <button type="button" data-pos="m-r" class="btn btn-primary">
        <span>中右</span>
      </button>
      <button type="button" data-pos="b-l" class="btn btn-outline-primary">
        <span>下左</span>
      </button>
      <button type="button" data-pos="b-c" class="btn btn-outline-success">
        <span>下中</span>
      </button>
      <button type="button" data-pos="b-r" class="btn btn-outline-info">
        <span>下右</span>
      </button>
      <h5>调用父级window方法，创建到父级窗口</h5>
      <a type="button" data-pos="t-l" class="btn">
        <span>上左</span>
      </a>
      <a type="button" data-pos="t-c" class="btn btn-success">
        <span>上中</span>
      </a>
      <a type="button" data-pos="t-r" class="btn btn-danger">
        <span>上右</span>
      </a>
      <a type="button" data-pos="m-l" class="btn btn-warning">
        <span>中左</span>
      </a>
      <a type="button" data-pos="m-c" class="btn btn-info">
        <span>中间</span>
      </a>
      <a type="button" data-pos="m-r" class="btn btn-primary">
        <span>中右</span>
      </a>
      <a type="button" data-pos="b-l" class="btn btn-outline-primary">
        <span>下左</span>
      </a>
      <a type="button" data-pos="b-c" class="btn btn-outline-success">
        <span>下中</span>
      </a>
      <a type="button" data-pos="b-r" class="btn btn-outline-info">
        <span>下右</span>
      </a>
      <a type="button" id="close_all" class="btn btn-outline-danger">
        <span>关闭iframe下全部弹窗</span>
      </a>
      <a type="button" id="close_win_all" class="btn btn-outline-danger">
        <span>关闭所有弹窗</span>
      </a>
    </div>
    <script type="text/javascript">
    (function(){
      $('#fun_alert_object').on('click', '.btn', function(){
        var $this = $(this),
          pos = $this.data('pos');
          winP = $this[0].tagName.toLocaleLowerCase() == 'a'? window.parent : window;
        if(pos){
          winP.$.evPopupAlert({
            head: '弹窗标题',
            hint: $this.text() + '弹窗提示框',
            shade: false,
            icon: 2,
            win: winP === window && window,
            position: pos,
            btn: {
              text: '确定', className: $this.attr('class'), callBack: function () {
                $.evPopupPoint({hint: '单击了确定回调'})
              }
            },
            closeCallBack: function () {
              $.evPopupPoint({hint: '执行了关闭回调'})
            }
          });
        }else{
          if($this.attr('id') === 'close_all'){
            $.evPopupCloseAll();
          }else{
            $.evPopupCloseWinAll();
          }
        }
      });
    }());
    </script>
    <pre class="js" name="pre">
//html代码 调用iframe打开
&lt;button type="button" id="fun_alert_object_2" class="btn btn-primary"&gt;
  <span>调用iframe打开</span>
&lt;/button&gt;
//js代码
$('#fun_alert_object_2').on('click', function(){
  $.evPopupAlert({
    head: '窗口标题',
    hint: '弹窗提示框',
    position: 'm-c', //位置取值：t-l, t-c, t-r, m-l, m-c, m-r, b-l, b-c, b-r
  });
});
//html代码 调用window父级打开
&lt;button type="button" id="fun_alert_object_3" class="btn btn-primary"&gt;
  <span>调用window父级打开</span>
&lt;/button&gt;
//js代码
$('#fun_alert_object_3').on('click', function(){
  window.parent.$.evPopupAlert({
    head: '窗口标题',
    hint: '弹窗提示框',
    position: 'm-c', //位置取值：t-l, t-c, t-r, m-l, m-c, m-r, b-l, b-c, b-r
    win: window     //这里我们可以传入一个当前iframe的window对象，可以来进行交互操作
  });
});
// html代码
&lt;a type="button" id="close_all" class="btn btn-outline-danger"&gt;
    <span>关闭iframe下全部弹窗</span>
&lt;/a&gt;
// js代码
$('#close_all').on('click', function(){
  $.evPopupCloseAll();
});
&lt;a type="button" id="close_win_all" class="btn btn-outline-danger"&gt;
    <span>关闭所有弹窗</span>
&lt;/a&gt;
// js代码
$('#close_win_all').on('click', function(){
  $.evPopupCloseWinAll();
});
    </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.evPopupAlert(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。<a href="#popupDetailAttr">弹窗内置方法</a></dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数，具体参数说明。
        <ol>
          <li><code>position</code>：//位置取值：t-l（上左）, t-c（上中）, t-r（上右）, m-l（中左）, m-c（居中）, m-r（中右）, b-l（下左）, b-c（下中）, b-r（下右）。</li>
          <li><code>head</code>：表示打开窗口的标题。</li>
          <li><code>hint</code>：提示消息文字</li>
          <li><code>icon</code>：提示图标</li>
          <li><code>win</code>：可以传入当前的iframe中的<code>window</code>对象，可以使用<code>popup_obj.originWindow</code>调用。</li>
          <li><code>btn</code>：提示框中的按钮：
            <ul class="list-type-georgian">
              <li><code>text</code>：按钮文字；
              <li><code>noClose</code>：按钮单击是否关闭本弹窗，<code>false</code>：表示不关闭，<code>true</code>：表示关闭；
              <li><code>className</code>：按钮的样式名称，可以使用框架内带<a href="../button/base_button.html">按钮</a>的所有class名，也可以自定义class名，如果使用多个class名可以写成<code>'class-1 class-2 class-3'</code>空格隔开的形式；
              <li><code>callBack</code>：单击按钮后要执行的函数
            </ul>
          </li>
        </ol>
      </dd>
    </dl>
  </div>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个带<b>确定</b>，<b>取消</b>按钮的提示框，没有扩展属性方式，只有方法调用方式</h4>
    <p>
      <button type="button" id="fun_confirm_1" class="btn btn-primary">
        <span>调用方法弹出确定取消框</span>
      </button>
    </p>
    <script type="text/javascript">
      $('#fun_confirm_1').on('click', function(){
        $.evPopupConfirm({
          head: '弹窗标题',
          hint: '弹窗提示框',
          icon: 3,
          btn: [{
            className: 'btn-outline-primary',
            callBack: function () {
              $.evPopupPoint({hint: '单击了确定回调'});
            }
          }, {
            className: 'btn-outline-danger', callBack: function () {
              $.evPopupPoint({hint: '单击了取消回调', icon: 3});
            }
          }],
          closeCallBack: function () {
            $.evPopupPoint({hint: '执行了关闭回调'})
          }
        });
      });
    </script>
    <pre class="js" name="pre">
// html部分
&lt;button type="button" id="fun_confirm_1" class="btn btn-primary"&gt;
  <span>调用方法弹出确定取消框</span>
&lt;/button&gt;
$('#fun_confirm_1').on('click', function(){
  var popup_obj = $.evPopupConfirm({
    head: '弹窗标题',
    hint: '弹窗提示框',
    icon: 3,
    btn: [{
      text: '确定',
      className: 'btn-primary',
      callBack: function () {
        $.evPopupPoint({ hint: '单击了确定回调'})
      }
    }, {
      text: '取消', className: 'btn-outline-danger', callBack: function () {
        $.evPopupPoint({ hint: '单击了取消回调'})
      }
    }],
    closeCallBack: function () {
      $.evPopupPoint({hint: '执行了关闭回调'})
    }
  });
});
    </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：此弹窗和带确定按钮的提示框参数基本一样，不同之处：</dt>
      <dd><code>btn</code>：提示框中的按钮，类型为数组，每个数组值是json形式，可以传入1个或多个；</dd>
    </dl>
  </div>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个提示消息框</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <button type="button" class="btn btn-success" data-toggle="popup" data-popup-type="point" data-popup-hint="正确提示" data-popup-icontype="1" data-popup-closetime="1">
      <span>正确</span>
    </button>
    <button type="button" class="btn btn-danger" data-toggle="popup" data-popup-type="point" data-popup-hint="错误提示" data-popup-icontype="2" data-popup-closetime="1">
      <span>错误</span>
    </button>
    <button type="button" class="btn btn-warning" data-toggle="popup" data-popup-type="point" data-popup-hint="警告提示" data-popup-icontype="3" data-popup-closetime="1">
      <span>警告</span>
    </button>
    <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="point" data-popup-hint="加载中..." data-popup-icontype="4" data-popup-closetime="5">
      <span>等待</span>
      </button>
    <pre class="html" name="pre">
<button type="button" class="btn btn-success" data-toggle="popup" data-popup-type="point" data-popup-hint="正确提示" data-popup-icontype="1" data-popup-closetime="1">
  <span>正确</span>
</button>
<button type="button" class="btn btn-danger" data-toggle="popup" data-popup-type="point" data-popup-hint="错误提示" data-popup-icontype="2" data-popup-closetime="1">
  <span>错误</span>
</button>
<button type="button" class="btn btn-warning" data-toggle="popup" data-popup-type="point" data-popup-hint="警告提示" data-popup-icontype="3" data-popup-closetime="1">
  <span>警告</span>
</button>
<button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="point" data-popup-hint="加载中..." data-popup-icontype="4" data-popup-closetime="1">
  <span>等待</span>
</button>

    </pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="point"</code>：打开消息提示框, <span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-hint="这是提示内容"</code>：提示消息</dd>
      <dd><code>data-popup-icontype="1"</code>：提示图标类型，<code>1</code>：表示成功对钩，<code>2</code>：表示错误叉号，<code>3</code>：表示提示感叹号，<code>4</code>：表示加载中动态图</dd>
      <dd><code>data-popup-closetime="2"</code>：自动关闭时间数值型(以秒计算) <code>false</code>或者非数字表示不自动关闭</dd>
    </dl>
    <h4><srrong>调用方法方式打开，支持关闭回调函数：</srrong></h4>
    <p id="fun_point_1">
      <button type="button" class="btn btn-success">
        <span>正确</span>
      </button>
      <button type="button" class="btn btn-danger">
        <span>错误</span>
      </button>
      <button type="button" class="btn btn-warning">
        <span>警告</span>
      </button>
      <button type="button" class="btn btn-primary">
        <span>等待</span>
      </button>
    </p>
    <div id="fun_point_2">
      <h5>非整行，有颜色的</h5>
      <button type="button" data-skin="primary" class="btn btn-primary">
        <span>primary</span>
      </button>
      <button type="button" data-skin="success" class="btn btn-success">
        <span>success</span>
      </button>
      <button type="button" data-skin="danger" class="btn btn-danger">
        <span>danger</span>
      </button>
      <button type="button" data-skin="warning" class="btn btn-warning">
        <span>warning</span>
      </button>
      <button type="button" data-skin="info" class="btn btn-info">
        <span>info</span>
      </button>
      <button type="button" data-skin="light-primary" class="btn btn-outline-primary">
        <span>light-primary</span>
      </button>
      <button type="button" data-skin="light-success" class="btn btn-outline-success">
        <span>light-success</span>
      </button>
      <button type="button" data-skin="light-danger" class="btn btn-outline-danger">
        <span>light-danger</span>
      </button>
      <button type="button" data-skin="light-warning" class="btn btn-outline-warning">
        <span>light-warning</span>
      </button>
      <button type="button" data-skin="light-info" class="btn btn-outline-info">
        <span>light-info</span>
      </button>
      <h5>整行，有颜色的</h5>
      <button type="button" data-skin="primary" data-type="block" class="btn btn-primary">
        <span>正确</span>
      </button>
      <button type="button" data-skin="success" data-type="block" class="btn btn-success">
        <span>正确</span>
      </button>
      <button type="button" data-skin="danger" data-type="block" class="btn btn-danger">
        <span>错误</span>
      </button>
      <button type="button" data-skin="warning" data-type="block" class="btn btn-warning">
        <span>警告</span>
      </button>
      <button type="button" data-skin="info" data-type="block" class="btn btn-info">
        <span>等待</span>
      </button>
      <button type="button" data-skin="light-primary" data-type="block" class="btn btn-info">
        <span>等待</span>
      </button>
      <button type="button" data-skin="light-success" data-type="block" class="btn btn-success">
        <span>正确</span>
      </button>
      <button type="button" data-skin="light-danger" data-type="block" class="btn btn-danger">
        <span>错误</span>
      </button>
      <button type="button" data-skin="light-warning" data-type="block" class="btn btn-warning">
        <span>警告</span>
      </button>
      <button type="button" data-skin="light-info" data-type="block" class="btn btn-primary">
        <span>等待</span>
      </button>
    </div>
    <script type="text/javascript">
        $('#fun_point_1').on('click','.btn', function(){
          $.evPopupPoint({
            hint: $(this).text() + '提示',
            icon: $(this).index() + 1,
            closeTime: 1,
            closeCallBack: function(){
              $.evPopupPoint({hint: '关闭的回调函数'});
            }
          });
        });
        $('#fun_point_2').on('click','.btn', function(){
          var $this = $(this);
          $.evPopupPoint({
            hint: $this.text() + '提示',
            icon: $this.index() + 1,
            style: $this.data('type'),
            className: $this.data('skin'),
            closeTime: 1,
            closeCallBack: function(){
              $.evPopupPoint({hint: '关闭的回调函数'});
            }
          });
        });
      </script>
    <pre class="js" name="pre">
// html代码
&lt;button type="button" id="fun_point_1" class="btn btn-primary"&gt;
  <span>调用方法弹出提示框</span>
&lt;/button&gt;
// js代码
$('#fun_point_1').on('click', function(){
  var popup_obj = $.evPopupPoint({
    hint: '提示消息',
    icon: 1,
    closeTime: 1,
    closeCallBack: function(){
      $.evPopupPoint({hint: '关闭'});
    }
  });
});
//js代码
//非整行，有颜色的
$('#fun_point_1').on('click', function(){
  $.evPopupPoint({
    hint: 提示消息,
    icon: 1,
    className: 'primary',
    closeTime: 1,
    closeCallBack: function(){
      $.evPopupPoint({hint: '关闭的回调函数'});
    }
  });
});
//整行，有颜色的
$('#fun_point_1').on('click', function(){
  $.evPopupPoint({
    hint: 提示消息,
    icon: 1,
    style: 'block',
    className: 'primary',
    closeTime: 1,
    closeCallBack: function(){
      $.evPopupPoint({hint: '关闭的回调函数'});
    }
  });
});
    </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.evPopupPoint(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。可以通过这个变量来操作弹窗。<a href="#popupDetailAttr">弹窗内置方法</a></dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数，对象形式：
        <ol>
          <li><code>hint</code>：提示文字</li>
          <li><code>icon</code>：提示图标类型，<code>1</code>：表示成功对钩，<code>2</code>：表示错误叉号，<code>3</code>：表示提示感叹号，<code>4</code>：表示加载中动态图。</li>
          <li><code>closeTime</code>：自动关闭时间，以秒计算</li>
          <li><code>style</code>：表示提示框的类型样式，不填写表示默认，可以取值：<code>block</code>:表示整行显示</li>
          <li><code>className</code>：表示弹窗的class类，系统内置了<code>primary</code>、<code>success</code>、<code>danger</code>、<code>warning</code>、<code>info</code>、<code>light-primary</code>、<code>light-success</code>、<code>light-danger</code>、<code>light-warning</code>、<code>light-info</code></li>
          <li><code>closeCallBack</code>：关闭后回调函数</li>
        </ol>
      </dd>
    </dl>
  </div>

  <div class="show-popup-div">
    <style>
      .html-con{
        padding: 20px;
      }
      .html-con-2{
        padding: 5px;
        min-width: 900px;
      }
    </style>
    <div id="htmlDiv_1" style="display:none;">
      <div class="html-con">
        <h5>前端问题：</h5>
        <ul class="list list-type-upper-latin">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
    </div>
    <div id="htmlDiv_2" style="display:none;">
      <div class="html-con-2">
        <table class="table">
          <colgroup>
            <col width="150">
            <col width="250">
            <col width="auto">
            <col width="250">
          </colgroup>
          <thead>
          <tr class="active">
            <th class="text-center vertical-middle" rowspan="2">语言名称</th>
            <th class="text-center" colspan="2">HTML</th>
            <th class="text-center" colspan="2">CSS</th>
            <th class="text-center" colspan="4">ECMAScript</th>
          </tr>
          <tr class="active">
            <th class="text-center">HTML4.0/XHTML</th>
            <th class="text-center">HTML5</th>
            <th class="text-center">CSS2.0</th>
            <th class="text-center">CSS3.0</th>
            <th class="text-center">ECMAScript2</th>
            <th class="text-center">ECMAScript3</th>
            <th class="text-center">ECMAScript5</th>
            <th class="text-center">ECMAScript6</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>详细介绍</th>
            <td><p>HTML 4 [HTML] 是标准通用标记语言下的一个应用，遵从国际标准ISO 8879，被广泛的当作 World Wide Web上的标准出版语言。</p></td>
            <td>
              <p>HTML5 将成为 HTML、XHTML 以及 HTML DOM 的新标准。</p>
              <p>HTML 的上一个版本诞生于 1999 年。自从那以后，Web 世界已经经历了巨变。</p>
              <p>HTML5 仍处于完善之中。然而，大部分现代浏览器已经具备了某些 HTML5 支持。</p>
            </td>
            <td><p>
              CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
              Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p></td>
            <td>
              <p>CSS是一种叫做样式表（stylesheet）的技术。也有的人称之为层叠样式表（Cascading Stylesheet）。</p>
              <p>CSS3.0增加了更多的CSS选择器，可以实现更简单但是更强大的功能</p>
            </td>
            <td><p>1998年6月发布，主要是编辑加工的结果。这一版的内容更新是为了与ISO/IEC-16262保持严格一致，没有作任何新增、修改或删节处理。因此，一般不使用第2版来衡量ECMAScript实现的兼容性。</p></td>
            <td><p>1999年12月发布，是对ECMAScript标准第一次真正的修改。新增了对正则表达式、新控制语句、try-catch异常处理的支持，修改了字符处理、错误定义和数值输出等内容。</p>
              <p>从各方面综合来看，第3版标志着ECMAScript成为了一门真正的编程语言。</p></td>
            <td>2009年12月发布，该版本力求澄清第3版中的歧义，并添加了新的功能。新功能包括：原生JSON对象、继承的方法、高级属性的定义以及引入严格模式。</td>
            <td><p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript
              2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript 2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>
              <p>
                S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>
              <p>
                尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p></td>
          </tr>
          <tr>
            <td>重要程度</td>
            <td colspan="2">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td colspan="3">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td colspan="2">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
          </tr>
          <tr>
            <td>掌握程度</td>
            <td colspan="2">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td colspan="3">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
            <td colspan="2">
              <i class="evicon evicon-star-1"></i>
              <i class="evicon evicon-star-1"></i>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="active">
            <td colspan="9"><h4>前端工程师所需要掌握的全部技术</h4></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <h4 class="page-header">打开一个自定义内部代码的弹窗</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="html" data-popup-head="这是我的弹窗标题" data-popup-target="#htmlDiv_1" data-popup-width="600" data-popup-height="500">
        <span>属性方式打开自定义代码框</span>
      </button>
    </p>
    <pre class="html" name="pre">
<button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="html" data-popup-head="这是我的弹窗标题" data-popup-target="#abc" data-popup-width="1200" data-popup-height="700">
  <span>属性方式弹出提示框</span>
</button>
    </pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="html"</code>：表示打开一个可以自己传入html代码的弹窗，<span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-head="这是我的弹窗标题"</code>：打开窗口的标题</dd>
      <dd><code>data-popup-target="#abc"</code>：表示要传入的目标dom元素内部的代码，最好以#id的形式。</dd>
      <dd><code>data-popup-width="1200"</code>：要打开的窗口的宽度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>1200</code>可以是任意数字值。</dd>
      <dd><code>data-popup-height="700"</code>：要打开的窗口的高度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>700</code>可以是任意数字值。</dd>
    </dl>
    <h4><srrong>方法调用方式打开：</srrong></h4>
    <h5>在iframe内打开，一个没有标题的弹窗</h5>
    <button type="button" id="fun_html_1" class="btn btn-rounded btn-outline-success">
      <span>方法调用方式打开自定义代码框</span>
    </button>
    <script type="text/javascript">
      $('#fun_html_1').on('click', function(){
        $.evPopupHtml({
          head:0,
          html:'#htmlDiv_1',
          width:600,
          height:400,
          closeCallBack:function(){
            $.evPopupPoint(['关闭回调函数']);
          }
        });
      });
    </script>
    <pre class="js" name="pre">
//html代码
&lt;button type="button" id="fun_html_1" class="btn btn-rounded btn-outline-success"&gt;
  <span>调用方法弹出提示框</span>
&lt;/button&gt;
//js代码
$('#fun_html_1').on('click', function(){
  $.evPopupHtml({
    head:0,
    html:'#htmlDiv_1',
    width:600,
    height:400,
    closeCallBack:function(){
      $.evPopupPoint(['关闭回调函数']);
    }
  });
});
      </pre>
    <h5>在iframe父级窗口打开</h5>
    <p id="fun_alert_object">
      <button type="button" id="fun_html_object_1" class="btn btn-rounded btn-outline-info">
        <span>打开一个全屏弹窗</span>
      </button>
    </p>
    <script type="text/javascript">
      (function () {
        $('#fun_html_object_1').on('click', function () {
          window.parent.$.evPopupHtml({
            head: '弹窗标题',
            html: $('#htmlDiv_2').html(),
            width: 600,
            height: 400,
            full: 1,
            closeCallBack: function () {
              $.evPopupPoint(['关闭回调函数']);
            }
          });
        });
      }());
    </script>
    <pre class="js" name="pre">
//html代码
&lt;button type="button" id="fun_html_object_1" class="btn btn-rounded btn-outline-info"&gt;
  <span>调用方法弹出提示框</span>
&lt;/button&gt;
//js代码
$('#fun_html_object_1').on('click', function () {
  window.parent.$.evPopupHtml({
    head: '弹窗标题',
    html: $('#htmlDiv_2').html(),
    width: 600,
    height: 400,
    full: 1,
    closeCallBack: function () {
      $.evPopupPoint(['关闭回调函数']);
    }
  });
});
</pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>head</code>：打开窗口的标题，如果不要标题可以取值false或者0</dd>
      <dd><code>html</code>：表示打开一个可以自己传入html代码的弹窗</dd>
      <dd><code>full</code>：表示是全屏打开</dd>
      <dd><code>closeCallBack</code>：关闭窗口回调函数</dd>
      <dd><code>width</code>：要打开的窗口的宽度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>1200</code>可以是任意数字值。</dd>
      <dd><code>height</code>：要打开的窗口的高度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>700</code>可以是任意数字值。</dd>
    </dl>
  </div>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个loading层</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-outline-primary" data-toggle="popup" data-popup-type="loading" data-popup-icontype="1" data-popup-closetime="2">
        <span>添加属性方式打开</span>
      </button>
    </p>
    <pre class="html" name="pre">
<button type="button" class="btn btn-outline-primary" data-toggle="popup" data-popup-type="loading" data-popup-icontype="1" data-popup-closetime="1">
  <span>添加属性方式打开</span>
</button>
    </pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="loading"</code>：打开一个loading加载层, <span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-icontype="1"</code>：打开加载层的图片类型，暂时有1个</dd>
      <dd><code>data-popup-closetime="1"</code>：自动关闭加载层时间，<code>false</code>：表示不关闭，大于零表示多少秒关闭。</dd>
    </dl>
    <h4><srrong>调用方法方式打开：</srrong></h4>
    <p>
      <button type="button" id="fun_loading_1" class="btn btn-outline-primary">
        <span>调用方法打开加载等待层</span>
      </button>
    </p>
    <script type="text/javascript">
      $('#fun_loading_1').on('click', function(){
        $.evPopupLoading({
          icon:1,
          closeTime: 2,
          closeCallBack: function(){
            $.evPopupPoint({hint:'关闭回调函数'});
          }
        });
      });
    </script>
    <pre class="js" name="pre">
// html代码
&lt;button type="button" id="fun_loading_1" class="btn btn-primary"&gt;
  <span>调用方法打开加载等待层</span>
&lt;/button&gt;
// js代码
$('#fun_loading_1').on('click', function(){
  $.evPopupLoading({
    icon:1,
    closeTime: 2,
    closeCallBack: function(){
      $.evPopupPoint({hint:'关闭回调函数'});
    }
  });
});
    </pre>
  </div>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个iframe窗口</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-outline-danger" data-toggle="popup" data-popup-type="iframe" data-popup-head="这是弹窗标题" data-popup-src="../tool/big_popup_iframe.html" data-popup-width="2200" data-popup-height="1700">
        <span>添加属性方式打开</span>
      </button>
    </p>
    <pre class="html" name="pre">
<button type="button" class="btn btn-outline-danger" data-toggle="popup" data-popup-type="iframe" data-popup-head="这是弹窗标题" data-popup-src="../tool/popup_iframe.html" data-popup-width="1200" data-popup-height="700">
  <span>窗口打开其他页面</span>
</button>
    </pre>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="iframe"</code>：打开一个iframe框, <span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-head="这是弹窗标题"</code>：弹出框的标题</dd>
      <dd><code>data-popup-src="/docs/tool/popup_iframe.html"</code>：弹出框的页面地址；<span class="text-warning">这里涉及到页面之间域的问题。</span></dd>
      <dd><code>data-popup-width="1200"</code>：要打开的窗口的宽度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>1200</code>可以是任意数字值。</dd>
      <dd><code>data-popup-height="700"</code>：要打开的窗口的高度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>700</code>可以是任意数字值。</dd>
    </dl>
    <h4><srrong>调用方法打开：</srrong></h4>
    <h5 class="text-warning">在iframe下打开</h5>
    <button type="button" id="fun_iframe_1" class="btn btn-primary">
      <span>在iframe中打开窗口</span>
    </button>
    <script type="text/javascript">
      $('#fun_iframe_1').on('click', function(){
        $.evPopupIframe({
          head:'这是弹窗标题',
          src:'../tool/popup_iframe.html',
//          src:'http://www.baidu.com',
          width:800,
          height: 500,
          closeCallBack: function(){
            $.evPopupPoint({hint:'关闭的回调函数', icon:3});
          }
        });
      });
    </script>
    <pre class="js" name="pre">
// html代码
&lt;button type="button" id="fun_iframe_1" class="btn btn-primary"&gt;
  <span>在iframe中打开窗口</span>
&lt;/button&gt;
// js代码
$('#fun_iframe_1').on('click', function(){
  $.evPopupIframe({
    head:'这是弹窗标题',
    src:'../tool/popup_iframe.html',
    width:800,
    height: 500,
    closeCallBack: function(){
      $.evPopupPoint({hint:'关闭的回调函数', icon:3});
    }
  });
});
    </pre>
    <h5 class="text-warning">在iframe父级窗口下打开</h5>
    <button type="button" id="fun_iframe_2" class="btn btn-primary">
      <span>在父级窗口打开窗口</span>
    </button>
    <script type="text/javascript">
      $('#fun_iframe_2').on('click', function(){
        window.parent.$.evPopupIframe({
          head:'这是弹窗标题',
          src:'tool/popup_iframe.html',
          width:800,
          height: 500,
          win: window,
          closeCallBack: function(){
            $.evPopupPoint({hint:'关闭的回调函数', icon:3});
          }
        });
      });
    </script>
    <pre class="js" name="pre">
// html代码
&lt;button type="button" id="fun_iframe_2" class="btn btn-primary"&gt;
  <span>在父级窗口打开窗口</span>
&lt;/button&gt;
// js代码
$('#fun_iframe_2').on('click', function(){
  window.parent.$.evPopupIframe({
    head:'这是弹窗标题',
    src:'../tool/popup_iframe.html',
    width:800,
    height: 500,
    win: window,
    closeCallBack: function(){
      $.evPopupPoint({hint:'关闭的回调函数', icon:3});
    }
  });
});
    </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.evPopupPoint(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。可以通过这个变量来操作弹窗。<a href="#popupDetailAttr">弹窗内置方法</a></dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数,类型为对象
        <ol>
          <li><code>head</code>：打开窗口的标题。</li>
          <li><code>src</code>：打开窗口的iframe地址。</li>
          <li><code>win</code>：触发事件的<code>window</code>对象。<span>一般只有在窗口创建到父级的时候才用到</span></li>
          <li><code>width</code>：打开窗口的宽度。</li>
          <li><code>height</code>：打开窗口的高度。</li>
          <li><code>closeCallBack</code>：关闭窗口的回调方法。</li>
        </ol>
      </dd>
      <dd>在打开<code>iframe</code>弹窗的同时,会在<code>iframe</code>的<code>window</code>对象中生成一个<code>popup</code>对象<span class="text-warning">（前提是需要在同一个域）</span>，我们可以通过这个对象对窗口进行操作，对象中具体的方法参考<a href="#popupDetailAttr">弹窗对象内置方法</a></dd>
    </dl>
  </div>

  <div id="popupSenior"  class="show-popup-div">
    <h3 >模态框高级使用</h3>
    <p id="fun_object">
      <button type="button" data-type="alert" id="fun_object_1" class="btn">
        <span>打开带多个按钮的提示框</span>
      </button>
      <button type="button" data-type="layer" id="fun_object_2" class="btn btn-success">
        <span>打开一个自定义内容代码的层</span>
      </button>
      <button type="button" data-type="iframe" id="fun_object_3" class="btn btn-danger">
        <span>打开一个iframe窗口</span>
      </button>
      <button type="button" data-type="loading" id="fun_object_4" class="btn btn-warning">
        <span>打开一个loading层</span>
      </button>
    </p>
    <script>
      $('#fun_object').on('click', 'button', function(){
        var $this = $(this),
            type = $this.data('type'),
            p_alert, p_layer, p_iframe, p_loading,
            addTarget = $('body', window.parent.document);
          switch(type){
            case 'alert':
              p_alert = window.parent.$.evPopup({
                type: 1,
                className: 'my-class',
                shade: {bgColor: '#fff', opacity: '0.7', close: true},
                position: {pos: 'm-c'},
                opBtn: {close: 1, min: 0, max: 0},
                size: {width: 350, height: 'auto'},
                con: {
                  html: "提示信息",
                  icon: 3,
                  btn: {
                    btn1: {
                      text: '加载',
                      className: 'btn-success',
                      noClose: true,
                      callBack: function () {
                        window.parent.$.evPopupLoading({icon:1,closeTime:1});
                      }
                    },
                    btn2: {
                      text: '确定关闭窗口',
                      className: 'btn-info',
                      callBack: function () {
                        $.evPopupPoint({hint:'单击了确定', icon:1});
                      }
                    },
                    btn3: {
                      text: '取消关闭窗口',
                      className: 'btn-warning',
                      callBack: function () {
                        $.evPopupPoint({hint:'单击了取消', icon:2});
                      }
                    },
                    btn4: {
                      text: '关闭',
                      className: 'btn-danger',
                      noClose: true,
                      callBack: function () {
                        window.parent.$.evPopupConfirm({
                          hint:'确定要关闭吗？',
                          icon:3,
                          btn:[{
                            callBack: function(){
                              $.evPopupPoint({hint:'点击了确定，窗口自动关闭', icon:2});
                              p_alert.popupClose();
                            }
                          },{
                            callBack:function(){
                              $.evPopupPoint({hint:'点击了取消，窗口不关闭', icon:2});
                            }
                          }]
                        })
                      }
                    }
                  }
                },
                closeCallBack: function(){
                  // $.evPopupPoint(['关闭弹窗', 2]);
                }
              });
            break;
            case 'layer':
              p_layer = $.evPopup({
                type: 2,
                shade: {bgColor: '#fff', opacity: '0.7', close: true},
                position: {pos: 'm-c'},
                opBtn: {close: 1, min: 0, max: 1},
                size: {width: 'auto', height: 'auto'},
                con: {
                  html: $('#htmlDiv_1').html()
                }
              });
            break;
            case 'iframe':
              p_iframe = window.parent.$.evPopup({
                type: 3,
                animate: ['zoomIn',0],
                shade: {bgColor: '#fff', opacity: '0.7', close: true},
                position: {pos: 'm-c'},
                opBtn: {close: 1, min: 0, max: 1},
                size: {full:0, width: 'auto', height: '500'},
                con: {
                  src: 'tool/big_popup_iframe.html'
                }
              });
              break;
            case 'loading':
              p_iframe = $.evPopup({
                  type: 4,
                  head: false,
                  shade: {close: 1},
                  autoClose: 5,
                  position: {pos: 'm-c'},
                  opBtn: false,
                  con: {
                    icon: 1
                  }
                });
              break;
          }
      });
    </script>
    <pre class="js" name="pre">
//所有参数代码
p_alert = window.parent.$.evPopup({
  type: 1,
  className: 'my-class',
  styleCss: 'margin:10px',
  shade: {bgColor: '#fff', opacity: '0.7', close: true},
  position: {pos: 'm-c'},
  win: window,
  opBtn: {close: 1, min: 0, max: 0},
  size: {width: 350, height: 'auto'},
  con: {
    html: "提示信息",
    icon: 3,
    btn: {
      btn1: {
        text: '加载',
        className: 'btn-success',
        noClose: true,
        callBack: function () {
          $.evPopupLoading({icon:1,closeTime:1});
        }
      },
      btn2: {
        text: '确定关闭窗口',
        className: 'btn-info',
        callBack: function () {
          $.evPopupPoint({hint:'单击了确定', icon:1});
        }
      },
      btn3: {
        text: '取消关闭窗口',
        className: 'btn-warning',
        callBack: function () {
          $.evPopupPoint({hint:'单击了取消', icon:2});
        }
      },
      btn4: {
        text: '关闭',
        className: 'btn-danger',
        noClose: true,
        callBack: function () {
          $.evPopupConfirm({
            hint:'确定要关闭吗？',
            icon:3,
            btn:[{
              callBack: function(){
                $.evPopupPoint({hint:'点击了确定，窗口自动关闭', icon:2});
                p_alert.popupClose();
              }
            },{
              callBack:function(){
                $.evPopupPoint({hint:'点击了取消，窗口不关闭', icon:2});
              }
            }]
          })
        }
      }
    }
  },
  closeCallBack: function(){
    // $.evPopupPoint(['关闭弹窗', 2]);
  }
});
    </pre>
    <dl class="arr-explain-list" id="popupDetailAttr">
      <dt>详细参数介绍：</dt>
      <dd>
        <ol>
          <li><code>p_alert</code>：表示创建弹窗的对象，可以对它进行一些操作，内部预留的对象和方法有：
            <ul class="list-type-lower-alpha">
              <li><code>p_alert.popupClose()</code>：关闭当前弹窗</li>
              <li><code>p_alert.popupMax()</code>：最大化当前弹窗</li>
              <li><code>p_alert.popupMin()</code>：最小化当前弹窗</li>
              <li><code>p_alert.popupHide()</code>：隐藏当前弹窗</li>
              <li><code>p_alert.popupShow()</code>：显示当前弹窗</li>
              <li>同时还预存了两个窗口对象，主要用于窗口之间的交互，预留值：
                <ul class="list-type-lower-alpha">
                  <li><code>p_alert.originWindow</code>：源<code>window</code>对象；<span class="text-warning">表示此框口的创建源，也就是此窗口是从哪个窗口创建出来的。</span></li>
                  <li><code>p_alert.originDocument</code>：源<code>document</code>对象；<span class="text-warning">表示此框口的创建源的document对象。</span></li>
                  <li><code>p_alert.topWindow</code>：最顶级<code>window</code>对象；</li>
                  <li><code>p_alert.topDocument</code>：最顶级<code>window</code>对象中的<code>document</code>对象；</li>
                  <li><code>p_alert.selfWindow</code>：相对于打开的是iframe弹窗，指向的是当前弹窗的<code>window</code>对象；</li>
                  <li><code>p_alert.selfDocument</code>：相对于打开的是iframe弹窗，指向的是当前弹窗的<code>window</code>对象中的<code>document</code>对象；</li>
                </ul>
              </li>
              <li>在jquery中增加了两个方法：
                <ul class="list-type-lower-alpha">
                  <li><code>$.evPopupCloseAll</code>：关闭当前iframe中的所有弹框层；</li>
                  <li><code>$.evPopupCloseWinAll</code>：关闭窗口下所有弹窗；</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>在创建弹窗的时候我会给最顶级的<code>window</code>对象创建一个<code>evPopup</code>对象，用来记录我们创建的所有弹窗对象，我们可以通过他操作弹窗；具体操作方法是：
            <ul class="list-type-lower-alpha">
              <li>如果是在弹窗的iframe内部操作窗口自身弹窗，可以使用<code>window.top.evPopup[window.name]</code>然后用弹窗提供的所有方法进行操作。</li>
              <li>如果是非iframe弹窗，那么可以得到当前弹窗的<code>id</code>然后使用<code>window.evPopup[id]</code>进行操作。</li>
              <li><p class="text-warning">需要注意的是在我们关闭弹窗以后就不能再进行操作。</p></li>
            </ul>
          </li>
          <li><code>type</code>：//表示打开窗口的类型，目前有4中类型具体说明：
            <ul class="list-type-lower-alpha">
              <li><code>1</code>：表示弹窗类型，可以添加0个或多个按钮；</li>
              <li><code>2</code>：表示自定义html代码弹出层，可以传入一段html代码或者一个指定jquery对象内部的html代码或者jquery对象；</li>
              <li><code>3</code>：表示打开一个指定地址的弹出层；</li>
              <li><code>4</code>：表示打开一个加载等待的弹出层；</li>
            </ul>
          </li>
          <li><code>styleCss</code>：正对弹窗层最外层的html元素添加一些自己定义的css样式，主要是用来添加<code>margin</code>的为了实现弹窗的位置偏移量效果。</li>
          <li><code>addTarget</code>：//指定要把弹窗添加到的页面body，（如果有iframe的话）可以是父级或者指定iframe的body元素，默认情况下是调用那个窗口对象中的<code>body</code></li>
          <li><code>win</code>：//表示当前创建弹出层的<code>window</code>对象，如果是在<code>iframe</code>下执行的父级方法创建的层那么次值指的是<code>iframe</code>的<code>window</code>对象，可以使用<code>originWindow</code>来进行操作它。</li>
          <li><code>className</code>：//可以自己制定一个class名称，用来自定义弹窗样式；</li>
          <li><code>head</code>：表示打开窗口的标题<code>false</code>或<code>0</code>：表示不显示标题，其他表示显示；</li>
          <li><code>shade</code>：//指是否显示弹窗遮罩，<code>false</code>或<code>0</code>：表示不显示，<code>{bgColor: '#fff', opacity: '0.7', close: true}</code>,对象形式表示显示：可以设置的值有：
            <ul class="list-type-lower-alpha">
              <li><code>bgColor</code>：表示遮罩的背景颜色；</li>
              <li><code>opacity</code>：表示遮罩的透明度；</li>
              <li><code>close</code>：表示单击遮罩是否关闭弹窗，<code>true</code>：表示单击可以关闭，<code>false</code>：表示不关闭；</li>
            </ul>
          </li>
          <li><code>animate</code>：表示弹出框的动画效果，<code>false</code>：表示不执行动画效果，<code>['zoomIn', 'zoomOut']</code>数组形式，表示执行动画参数说明：
            <ul class="list-type-lower-alpha">
              <li><code>zoomIn</code>：数组第一个值表示打开动画名称</li>
              <li><code>zoomOut</code>：数组第二个值表示关闭动画名称</li>
            </ul>
            <p>查看更多动画效果：<a href="../tool/animate.html">更多动画</a></p>
          </li>
          <li><code>autoClose</code>：//是否自动关闭：<code>false</code>：表示不自动关闭，数字表示自动关闭时间以秒计算；</li>
          <li><code>position</code>：//位置取值如下：
            <ul class="list-type-lower-alpha">
              <li><code>t-l</code>：弹窗在整体页面的<span class="text-warning">（上左）</span></li>
              <li><code>t-c</code>：弹窗在整体页面的<span class="text-warning">（上中）</span></li>
              <li><code>t-r</code>：弹窗在整体页面的<span class="text-warning">（上右）</span></li>
              <li><code>m-l</code>：弹窗在整体页面的<span class="text-warning">（中左）</span></li>
              <li><code>m-c</code>：弹窗在整体页面的<span class="text-warning">（居中）</span></li>
              <li><code>m-r</code>：弹窗在整体页面的<span class="text-warning">（中右）</span></li>
              <li><code>b-l</code>：弹窗在整体页面的<span class="text-warning">（下左）</span></li>
              <li><code>b-c</code>：弹窗在整体页面的<span class="text-warning">（下中）</span></li>
              <li><code>b-r</code>：弹窗在整体页面的<span class="text-warning">（下右）</span></li>
            </ul>
          <li><code>opBtn</code>：表示是否显示右上角的操作按钮，<code>false</code>：表示不显示，<code>{close: 1, min: 0, max: 0}</code>：对象形式表示显示，并且可以设置参数：
            <ul class="list-type-lower-alpha">
              <li><code>close</code>：表示关闭按钮是否显示<code>1</code>表示显示，<code>0</code>：表示隐藏。</li>
              <li><code>min</code>：表示最小化按钮是否显示<code>1</code>表示显示，<code>0</code>：表示隐藏。</li>
              <li><code>max</code>：表示最大化按钮是否显示<code>1</code>表示显示，<code>0</code>：表示隐藏。</li>
            </ul>
          </li>
          <li><code>size</code>：表示弹出框的大小取值：
            <ul class="list-type-lower-alpha">
              <li><code>full</code>：表示打开的弹窗是否全屏显示，<code>true</code>：表示全屏，<code>false</code>：表示不全屏</li>
              <li><code>width</code>：打开弹窗宽度取值：<code>'auto'</code>|<code>数字</code></li>
              <li><code>height</code>：打开弹窗高度取值：<code>'auto'</code>|<code>数字</code></li>
            </ul>
          <li><code>con</code>：表示弹窗中的内容对象：
            <ul class="list-type-lower-alpha">
              <li><code>html</code>：表示弹窗内容要展示的html代码可以用在类型1，和类型2的弹窗中。</li>
              <li><p><code>src</code>：表示打开一个地址弹窗的url地址信息。<span class="text-warning">这里在创建iframe窗口的时候，需要同一个域</span></p>
                <p>创建完iframe窗口后，会在iframe中自动创建一个<code>popup</code>的变量，这个变量用于指向当前的窗口对象，也就是上边所说的<code>p_alert</code>对象，可以用次变量来进行交互操作。</p>
              </li>
              <li><code>icon</code>：提示图标：可以使用的值：
                <ul class="list-type-lower-alpha">
                    <li><code>1</code>：表示成功对钩；</li>
                    <li><code>2</code>：表示错误叉号；</li>
                    <li><code>3</code>：表示提示感叹号；</li>
                    <li><code>4</code>：表示加载中动态图；</li>
                </ul>
              </li>
              <li><code>btn</code>：提示框中的按钮：
                <ul class="list-type-lower-roman">
                  <li><code>btn1</code>：表示按钮的索引键值，如果添加多个请填唯一键值；
                  <li><code>text</code>：按钮文字；
                  <li><code>noClose</code>：按钮单击是否关闭本弹窗，<code>false</code>：表示不关闭，<code>true</code>：表示关闭；
                  <li><code>className</code>：按钮的样式名称，可以使用框架内带<a href="../button/base_button.html">按钮</a>的所有class名，也可以自定义class名，如果使用多个class名可以写成<code>'class-1 class-2 class-3'</code>空格隔开的形式；
                  <li><code>callBack</code>：单击按钮后要执行的函数
                </ul>
              </li>
              <li><code>closeCallBack</code>：关闭弹窗的执行函数；</li>
            </ul>
          </li>
        </ol>
      </dd>
    </dl>
  </div>
</div>
@@include('../include/foot.html')

