@@include('../include/head.html')
<div class="show-popup">
  <h3 class="page-header">模态提示框</h3>
  <h4>我们想要实现一个弹窗效果有两种方式：</h4>
  <ol class="arr-explain-list">
    <li>我们可以给任何的标签元素添加<code>data-toggle="popup"</code>属性来实现打开模态框，不同类型的模态框添加的属性不一样</li>
    <li>可以通过调用方法的形式来实现，目前定义了几种弹窗的方法如下：
      <ul class="list-type-lower-roman">
        <li><code>$.popupAlert(arguments)</code>：打开一个带<b>确定</b>按钮的提示框。</li>
        <li><code>$.popupConfirm(arguments)</code>：打开一个带<b>确定</b>，<b>取消</b>按钮的提示框。</li>
        <li><code>$.popupPoint(arguments)</code>：打开一个提示信息。</li>
        <li><code>$.pupupIframe(arguments)</code>：打开一个页面的弹出框。</li>
      </ul>
    </li>
  </ol>

  <div class="show-popup-div">
    <h4 class="page-header">打开一个带<b>确定</b>按钮的提示框</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="alert" data-popup-head="这是我的弹窗标题" data-popup-hint="这是我的提示内容">
        属性方式弹出提示框
      </button>
    </p>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="alert"</code>：表示打开一个带确定按钮的提示框，<span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-head="这是我的弹窗标题"</code>：打开窗口的标题</dd>
      <dd><code>data-popup-hint="这是我的提示内容"</code>：打开窗口的提示消息</dd>
      <dd>代码如下：</dd>
    </dl>
    <pre class="html" name="pre">
  <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="alert" data-popup-head="这是我的弹窗标题" data-popup-hint="这是我的提示内容">
    属性方式弹出提示框
  </button>
    </pre>
    <h4><srrong>方法调用方式打开：</srrong></h4>
    <p>
      <button type="button" id="fun_alert_1" class="btn btn-primary">
        调用方法弹出提示框
      </button>
    </p>
    <script type="text/javascript">
      $('#fun_alert_1').on('click', function(){
        $.popupAlert(['弹窗标题', '弹窗提示框', function(){
          $.popupPoint(['点击了确定']);
        }]);
      });
    </script>
    <pre class="js" name="pre">
  //html代码
  &lt;button type="button" id="fun_alert_1" class="btn btn-primary"&gt;
    调用方法弹出提示框
  &lt;/button&gt;
  //js代码
  $('#fun_alert_1').on('click', function(){
    $.popupAlert(['弹窗标题', '弹窗提示框', function(){
      $.popupPoint(['点击了确定']);
    }]);
  });
    </pre>
    <dl class="arr-explain-list">
    <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.popupAlert(arguments)</code>方法，说明如下：</dt>
    <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</dd>
    <dd><code>arguments</code>：打开弹窗时传递的参数。可以分为两种一种是<code>array</code>数组形式，一种是<code>json</code>对象像是
      <ol>
        <li><b>数组形式：</b>
          <pre class="js" name="pre">
$.popupAlert([popupHead, popupHint, enterCallBack]);
          </pre>
          <ul class="list-type-lower-roman">
            <li><code>popupHead</code>：打开窗口的标题。</li>
            <li><code>popupHint</code>：打开窗口的提示消息。</li>
            <li><code>enterCallBack</code>：单击确定的回调函数。</li>
          </ul>
        </li>
        <li>
          <b>对象形式：</b>
          <p class="text-warning">后期添加</p>
          <!--<ul class="list-type-lower-roman">
            <li><code>popupObj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</li>
            <li><code>popupHead</code>：打开窗口的标题。</li>
            <li><code>popupHint</code>：打开窗口的提示消息。</li>
            <li><code>enterCallBack</code>：单击确定的回调函数。</li>
          </ul>-->
        </li>
      </ol>
    </dd>
  </dl>
  </div>
  <div class="show-popup-div">
    <h4 class="page-header">打开一个带<b>确定</b>，<b>取消</b>按钮的提示框，没有扩展属性方式，只有方法调用方式</h4>
    <p>
      <button type="button" id="fun_confirm_1" class="btn btn-primary">
        调用方法弹出确定取消框
      </button>
    </p>
    <script type="text/javascript">
      $('#fun_confirm_1').on('click', function(){
        $.popupConfirm(['弹窗标题', '弹窗提示框', function(){
          $.popupPoint(['点击了确定']);
        },function(){
          $.popupPoint(['点击了取消']);
        }]);
      });
    </script>
    <pre class="js" name="pre">
// html部分
&lt;button type="button" id="fun_confirm_1" class="btn btn-primary"&gt;
  调用方法弹出确定取消框
&lt;/button&gt;
$('#fun_confirm_1').on('click', function(){
  $.popupConfirm(['弹窗标题', '弹窗提示框', function(){
    $.popupPoint(['点击了确定']);
  },function(){
    $.popupPoint(['点击了取消']);
  }]);
});
      </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.popupAlert(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数。可以分为两种一种是<code>array</code>数组形式，一种是<code>json</code>对象像是
        <ol>
          <li><b>数组形式：</b>
            <pre class="js" name="pre">
  $.popupAlert(popupHead, popupHint, enterCallBack, cancelCallBack);
            </pre>
            <ul class="list-type-lower-roman">
              <li><code>popupObj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</li>
              <li><code>popupHead</code>：打开窗口的标题。</li>
              <li><code>popupHint</code>：打开窗口的提示消息。</li>
              <li><code>enterCallBack</code>：单击确定的回调函数。</li>
              <li><code>cancelCallBack</code>：单击取消的回调函数。</li>
            </ul>
          </li>
          <li>
            <b>对象形式：</b>
            <p class="text-warning">后期添加</p>
            <!--<ul class="list-type-lower-roman">
              <li><code>popupObj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</li>
              <li><code>popupHead</code>：打开窗口的标题。</li>
              <li><code>popupHint</code>：打开窗口的提示消息。</li>
              <li><code>enterCallBack</code>：单击确定的回调函数。</li>
            </ul>-->
          </li>
        </ol>
      </dd>
    </dl>
  </div>
  <div class="show-popup-div">
    <h4 class="page-header">打开一个提示消息框</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="point" data-popup-hint="这是提示内容" data-popup-icontype="1" data-popup-closetiem="1">
        属性方式弹出提示框
      </button>
    </p>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="point"</code>：打开消息提示框, <span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-hint="这是提示内容"</code>：提示消息</dd>
      <dd><code>data-popup-icontype="1"</code>：提示图标类型，<code>1</code>：表示成功对钩，<code>2</code>：表示错误叉号，<code>3</code>：表示提示感叹号，<code>4</code>：表示加载中动态图</dd>
      <dd><code>data-popup-closetiem="2"</code>：自动关闭时间数值型(以秒计算) <code>false</code>或者非数字表示不自动关闭</dd>
      <dd>代码如下：</dd>
    </dl>
    <pre class="html" name="pre">
  <button type="button" class="btn btn-primary" data-toggle="popup" data-popup-type="point" data-popup-hint="这是提示内容" data-popup-icontype="1" data-popup-closetiem="2">
    属性方式弹出提示框
  </button>
    </pre>
    <h4><srrong>调用方法方式打开：</srrong></h4>
    <p>
      <button type="button" id="fun_point_1" class="btn btn-primary">
        调用方法弹出提示框
      </button>
    </p>
    <script type="text/javascript">
        $('#fun_point_1').on('click', function(){
          $.popupPoint(['这是提示内容', 2, 1, function(){
            $.popupPoint(['自动关闭回调函数', 3, 1]);
          }]);
        });
      </script>
      <pre class="js" name="pre">
  // html代码
  &lt;button type="button" id="fun_point_1" class="btn btn-primary"&gt;
    调用方法弹出提示框
  &lt;/button&gt;
  // js代码
  $('#fun_point_1').on('click', function(){
    $.popupPoint(['这是提示内容', 2, 1, function(){
      $.popupPoint(['自动关闭回调函数', 3, 1]);
    }]);
  });
      </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.popupPoint(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数。可以分为两种一种是<code>array</code>数组形式，一种是<code>json</code>对象像是
        <ol>
          <li><b>数组形式：</b>
            <pre class="js" name="pre">
  $.popupAlert([popupHint, popupIcontype, popupClosetiem, closeCallBack]);
            </pre>
            <ul class="list-type-lower-roman">
              <li><code>popupHint</code>：打开窗口的标题。</li>
              <li><code>popupIcontype</code>：打开窗口的提示消息。</li>
              <li><code>popupClosetiem</code>：打开窗口的提示消息。</li>
              <li><code>closeCallBack</code>：单击确定的回调函数。</li>
            </ul>
          </li>
          <li>
            <b>对象形式：</b>
            <p class="text-warning">后期添加</p>
            <!--<ul class="list-type-lower-roman">
              <li><code>popupObj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</li>
              <li><code>popupHead</code>：打开窗口的标题。</li>
              <li><code>popupHint</code>：打开窗口的提示消息。</li>
              <li><code>enterCallBack</code>：单击确定的回调函数。</li>
            </ul>-->
          </li>
        </ol>
      </dd>
    </dl>
  </div>
  <div class="show-popup-div">
    <h4 class="page-header">打开一个iframe窗口</h4>
    <h4><srrong>给元素添加属性方式打开：</srrong></h4>
    <p>
      <button type="button" class="btn btn-outline-danger" data-toggle="popup" data-popup-type="iframe" data-popup-head="这是弹窗标题" data-popup-src="../tool/big_popup_iframe.html" data-popup-width="1200" data-popup-height="700">
        添加属性方式打开
      </button>
    </p>
    <dl class="arr-explain-list">
      <dt>各属性介绍：</dt>
      <dd><code>data-popup-type="iframe"</code>：打开一个iframe框, <span class="text-warning">固定值</span></dd>
      <dd><code>data-popup-head="这是弹窗标题"</code>：弹出框的标题</dd>
      <dd><code>data-popup-src="/docs/tool/popup_iframe.html"</code>：弹出框的页面地址；<span class="text-warning">这里涉及到页面之间域的问题。</span></dd>
      <dd><code>data-popup-width="1200"</code>：要打开的窗口的宽度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>1200</code>可以是任意数字值。</dd>
      <dd><code>data-popup-height="700"</code>：要打开的窗口的高度，取值可以是：<code>auto</code>自动根据打开窗口内页面的内容适配(默认)，<code>700</code>可以是任意数字值。</dd>
      <dd>代码如下：</dd>
    </dl>
    <pre class="html" name="pre">
<button type="button" class="btn btn-outline-danger" data-toggle="popup" data-popup-type="iframe" data-popup-head="这是弹窗标题" data-popup-src="../tool/popup_iframe.html" data-popup-width="1200" data-popup-height="700">
  窗口打开其他页面
</button>
    </pre>
    <h4><srrong>调用方法打开：</srrong></h4>
    <p>
      <button type="button" id="fun_iframe_1" class="btn btn-primary">
        调用方法打开iframe窗口
      </button>
    </p>
    <script type="text/javascript">
      $('#fun_iframe_1').on('click', function(){
        $.popupIframe(['这是提示内容', '../tool/popup_iframe.html', 800, 500, function(){
          $.popupPoint(['关闭的回调函数', 3, 1]);
        }]);
      });
    </script>
    <pre class="js" name="pre">
// html代码
&lt;button type="button" id="fun_iframe_1" class="btn btn-primary"&gt;
  调用方法打开iframe窗口
&lt;/button&gt;
// js代码
$('#fun_iframe_1').on('click', function(){
  $.popupIframe(['这是提示内容', '../tool/popup_iframe.html', 800, 500, function(){
    $.popupPoint(['关闭的回调函数', 3, 1]);
  }]);
});
      </pre>
    <dl class="arr-explain-list">
      <dt>方法打开：给要交互的元素绑定一个事件然后调用<code>var popup_obj = $.popupPoint(arguments)</code>方法，说明如下：</dt>
      <dd><code>popup_obj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</dd>
      <dd><code>arguments</code>：打开弹窗时传递的参数。可以分为两种一种是<code>array</code>数组形式，一种是<code>json</code>对象像是
        <ol>
          <li><b>数组形式：</b>
            <pre class="js" name="pre">
  $.popupAlert([popupHead, popupSrc, popupWidth, popupHeight, closeCallBack]);
            </pre>
            <ul class="list-type-lower-roman">
              <li><code>popupHead</code>：打开窗口的标题。</li>
              <li><code>popupSrc</code>：打开窗口的iframe地址。</li>
              <li><code>popupWidth</code>：打开窗口的宽度。</li>
              <li><code>popupHeight</code>：打开窗口的高度。</li>
              <li><code>closeCallBack</code>：关闭窗口的回调方法。</li>
            </ul>
          </li>
          <li>
            <b>对象形式：</b>
            <p class="text-warning">后期添加</p>
            <!--<ul class="list-type-lower-roman">
              <li><code>popupObj</code>：定义一个变量，用来存储打开的弹窗的对象；可以通过这个变量来操作弹窗。</li>
              <li><code>popupHead</code>：打开窗口的标题。</li>
              <li><code>popupHint</code>：打开窗口的提示消息。</li>
              <li><code>enterCallBack</code>：单击确定的回调函数。</li>
            </ul>-->
          </li>
        </ol>
      </dd>
    </dl>
  </div>

</div>
@@include('../include/foot.html')
