@@include('../include/head.html')

<div class="show-customScroll">
  <div class="custom-scroll-element" data-toggle="customScroll">
    <div class="custom-scroll-inside">
      <ul class="list list-unstyled">
        <li>前端技术的发展
          <ul class="list list-unstyled">
            <li>前端职位的崛起</li>
            <li>什么是前端开发，您真的了解前端吗？
              <ul class="list list-unstyled">
                <li>谈一下您对前端开发的理解</li>
                <li>前端技术都需要掌握哪些知识？
                  <ul class="list list-unstyled">
                    <li>前端未来的发展方向</li>
                    <li>前端的最新技术是什么？</li>
                    <li>为什么前端开发越来越复杂？</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>谈一下您对前端开发的理解</li>
            <li>前端技术都需要掌握哪些知识？</li>
            <li>前端未来的发展方向</li>
            <li>前端的最新技术是什么？</li>
            <li>为什么前端开发越来越复杂？</li>
          </ul>
        </li>
        <li>前端职位的崛起</li>
        <li>什么是前端开发，您真的了解前端吗？</li>
        <li>谈一下您对前端开发的理解</li>
        <li>前端技术都需要掌握哪些知识？</li>
        <li>前端未来的发展方向</li>
        <li>前端的最新技术是什么？</li>
        <li>为什么前端开发越来越复杂？</li>
      </ul>
    </div>
  </div>

</div>

@@include('../include/foot.html')
