extends include/head

block append title
  title="我的首页"

block append content
  div.main-menu#mainMenu
    dl(v-for="big,bkey in list" v-bind:class="{'cur': big.cur}")
      dt
        a(:href="'#'+big.name" v-on:click="details(bkey)")
          b
            |{{big.title}}
            i
      dd(v-if="big.sub &&big.sub.length")
        ul
          li( v-for="small,skey in big.sub")
            a( :href="''+small.href" target="mainIframe")
              b
                |{{small.title}}
  div.main-content#mainContent
    iframe( src="button/base_button.html" name="mainIframe")
  script(src="/docs/js/vue.js")
  script(src="/docs/js/menu.js")

