@@include('include/head.html')
<div class="main-menu" id="mainMenu">
  <dl v-for="big,bkey in list" v-bind:class="{'cur': big.cur}">
    <dt><a :href="'#'+big.name" v-on:click="details(bkey)"><b>{{big.title}}</b><i></i></a></dt>
    <dd v-if="big.sub &&big.sub.length">
      <ul>
        <li v-for="small,skey in big.sub">
          <a :href="''+small.href" target="mainIframe"><b>{{small.title}}</b></a>
        </li>
      </ul>
    </dd>
  </dl>
</div>
<div class="main-content" id="mainContent">
  <iframe src="gird/column_gird.html" name="mainIframe"></iframe>
</div>
<script src="js/vue.js"></script>
<script src="js/menu.js"></script>
@@include('include/foot.html')
