@@include('../include/head.html')
<style>
    .show-img img{
      width: 200px;
      margin: 10px;
    }
  </style>
<div class="show-image-div">
  <h3 class="page-header">图片展示效果</h3>
  <div class="show-img">
    <h4>图片站一整行，给<code>img</code>标签，添加：<code>img-responsive</code>类</h4>
    <img class="img-responsive" src="../../images/tu.jpg" alt="">
    <h4>行内图片：<code>img</code>标签，添加：<code>img-rounded</code>圆角，<code>img-thumbnail</code>带边线的圆角，<code>img-circle</code>圆形图片（需要正方形图）类</h4>
    <img class="img-rounded" src="../../images/tu.jpg" alt="">
    <img class="img-thumbnail" src="../../images/tu.jpg" alt="">
    <img class="img-circle" src="../../images/tu.jpg" alt="">
  </div>
  <pre class="html" name="pre">
<!--图片站一整行-->
<img class="img-responsive" src="../../images/tu.jpg" alt="">
<!-- 圆角图片 -->
<img class="img-rounded" src="../../images/tu.jpg" alt="">
<!-- 带边线的圆角图片 -->
<img class="img-thumbnail" src="../../images/tu.jpg" alt="">
<!-- 圆图片 -->
<img class="img-circle" src="../../images/tu.jpg" alt="">
    </pre>

</div>

@@include('../include/foot.html')
