@@include('../include/head.html')

<div class="show-label">

  <h3 class="page-header">标签使用</h3>
  <div class="show-text">
    <h4 class="page-header">标签样式使用<code>span</code>标签</h4>
    <span class="label label-default">Default</span>
    <span class="label label-primary">Primary</span>
    <span class="label label-success">Success</span>
    <span class="label label-info">Info</span>
    <span class="label label-warning">Warning</span>
    <span class="label label-danger">Danger</span>
    <span class="label label-dark">Dark</span>
    <span class="label label-secondary">Secondary</span>
    <pre name="pre" class="html">
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
<span class="label label-dark">Dark</span>
<span class="label label-secondary">Secondary</span>
        </pre>
    <h4 class="page-header">标签样式使用<code>a</code>标签</h4>
    <a href="###" class="label label-default">Default</a>
    <a href="###" class="label label-primary">Primary</a>
    <a href="###" class="label label-success">Success</a>
    <a href="###" class="label label-info">Info</a>
    <a href="###" class="label label-warning">Warning</a>
    <a href="###" class="label label-danger">Danger</a>
    <a href="###" class="label label-dark">Dark</a>
    <a href="###" class="label label-secondary">Secondary</a>
    <pre name="pre" class="html">
<a href="###" class="label label-default">Default</a>
<a href="###" class="label label-primary">Primary</a>
<a href="###" class="label label-success">Success</a>
<a href="###" class="label label-info">Info</a>
<a href="###" class="label label-warning">Warning</a>
<a href="###" class="label label-danger">Danger</a>
<a href="###" class="label label-dark">Dark</a>
<a href="###" class="label label-secondary">Secondary</a>
        </pre>
    <h4 class="page-header">在标题中使用标签</h4>
    <div class="h1">h1. 标题1样式 <span class="label label-default">New</span></div>
    <div class="h2">h2. 标题2样式 <span class="label label-default">New</span></div>
    <div class="h3">h3. 标题3样式 <span class="label label-default">New</span></div>
    <div class="h4">h4. 标题4样式 <span class="label label-default">New</span></div>
    <div class="h5">h5. 标题5样式 <span class="label label-default">New</span></div>
    <div class="h6">h6. 标题6样式 <span class="label label-default">New</span></div>
    <pre name="pre" class="html">
<div class="h1">h1. 标题1样式 <span class="label label-default">New</span></div>
<div class="h2">h2. 标题2样式 <span class="label label-default">New</span></div>
<div class="h3">h3. 标题3样式 <span class="label label-default">New</span></div>
<div class="h4">h4. 标题4样式 <span class="label label-default">New</span></div>
<div class="h5">h5. 标题5样式 <span class="label label-default">New</span></div>
<div class="h6">h6. 标题6样式 <span class="label label-default">New</span></div>
        </pre>
  </div>
</div>

@@include('../include/foot.html')
