extends ../include/head
block append title
  title="gide"
block append content
  .container-fluid
    h3.page-header
      |列布局
    .show-grid
      .row
        each row_1 in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
          div(class="col-md-" + row_1)= 'col-md-' + row_1
      pre.html(name="pre")
        div.row
          each row_1 in [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
            div(class="col-md-" + row_1)= '.col-md-' + row_1
