// Hr variables
@hr-color: #CCC;
@hr-margin: 20px;

//Hr style function
.hr-style(@color) {
  background-color: @color;
}
//Hr size function
.hr-size(@i, @key) when (@i < 11){
  &.hr-@{i}{
    @{key}: @i + 0px;
  }
  .hr-size(@i+1, @key);
}

//Hr define
.hr {
  border: 0;
  &.hr-x {
    margin: @hr-margin 0;
    height: 1px;
    .hr-size(1, height);

  }
  &.hr-y {
    margin: 0 @hr-margin;
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: top;
    .hr-size(1, width);
  }
  &.no-spacing{
    margin: 0;
  }
  & {
    background-color: @hr-color;
  }
  &.primary {
    .hr-style(@color-primary);
  }
  &.success {
    .hr-style(@color-success);
  }
  &.info {
    .hr-style(@color-info);
  }
  &.warning {
    .hr-style(@color-warning);
  }
  &.danger {
    .hr-style(@color-danger);
  }
}
