@@include('../include/head.html')


<div class="show-fieldset">
  <h3 class="page-header">分组区块</h3>
  <p>我们可以使用<code>fieldset</code>标签来实现分组区块。</p>
  <div class="show-fieldset-div">
    <h4 class="page-header">默认风格</h4>
    <fieldset class="fieldset">
      <legend class="fieldset-heading">CSS</legend>
      <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset">
  <legend class="fieldset-heading">CSS</legend>
  <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <div class="show-fieldset-div">
    <h4 class="page-header">只有上边线</h4>
    <fieldset class="fieldset only-top-border">
      <legend class="fieldset-heading">CSS</legend>
      <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset only-top-border">
  <legend class="fieldset-heading">CSS</legend>
  <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <h3 class="page-header">不同颜色</h3>
  <div class="show-fieldset-div">
    <h4 class="page-header">primary</h4>
    <fieldset class="fieldset primary">
        <legend class="fieldset-heading">CSS</legend>
        <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset primary">
<legend class="fieldset-heading">CSS</legend>
<div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <div class="show-fieldset-div">
    <h4 class="page-header">success</h4>
    <fieldset class="fieldset success">
        <legend class="fieldset-heading">CSS</legend>
        <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset success">
<legend class="fieldset-heading">CSS</legend>
<div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <div class="show-fieldset-div">
    <h4 class="page-header">info</h4>
    <fieldset class="fieldset info">
        <legend class="fieldset-heading">CSS</legend>
        <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset info">
<legend class="fieldset-heading">CSS</legend>
<div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <div class="show-fieldset-div">
    <h4 class="page-header">warning</h4>
    <fieldset class="fieldset warning">
        <legend class="fieldset-heading">CSS</legend>
        <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset warning">
<legend class="fieldset-heading">CSS</legend>
<div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
  <div class="show-fieldset-div">
    <h4 class="page-header">danger</h4>
    <fieldset class="fieldset danger">
        <legend class="fieldset-heading">CSS</legend>
        <div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
    </fieldset>
    <pre name="pre" class="html">
<fieldset class="fieldset danger">
<legend class="fieldset-heading">CSS</legend>
<div class="fieldset-body">层叠样式表(英文全称：Cascading Style Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</div>
</fieldset>
    </pre>
  </div>
</div>

@@include('../include/foot.html')
