@@include('../include/head.html')

<div class="show-hr">
    <h3 class="page-header">分割线</h3>
    <p>我们可以使用<code>hr</code>标签来实现分割线效果。</p>
    <h4 class="page-header">默认分割线</h4>
    <hr class="hr hr-default">
<pre name="pre" class="html">
  <hr class="hr">
</pre>
    <h4 class="page-header">颜色1</h4>
    <hr class="hr hr-primary">
<pre name="pre" class="html">
  <hr class="hr hr-primary">
</pre>
    <h4 class="page-header">颜色2</h4>
    <hr class="hr hr-success">
<pre name="pre" class="html">
  <hr class="hr hr-success">
</pre>
    <h4 class="page-header">颜色3</h4>
    <hr class="hr hr-info">
<pre name="pre" class="html">
  <hr class="hr hr-info">
</pre>
    <h4 class="page-header">颜色4</h4>
    <hr class="hr hr-warning">
<pre name="pre" class="html">
  <hr class="hr hr-warning">
</pre>
    <h4 class="page-header">颜色5</h4>
    <hr class="hr hr-danger">
<pre name="pre" class="html">
  <hr class="hr hr-danger">
</pre>
  </div>

@@include('../include/foot.html')
