@@include('../include/head.html')

<div class="show-panel">
  <h3 class="page-header">标签切换面板</h3>
  <div class="tab-panel">
    <div class="tab-panel-heading">
      <span class="tab-panel-title panel-title-active">标签标题1</span>
      <span class="tab-panel-title">标签标题2</span>
    </div>
    <div class="tab-panel-body">
      <div class="tab-panel-item tab-panel-item-active">
        标签内容1
      </div>
      <div class="tab-panel-item">
        标签内容2
      </div>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="tab-panel">
  <div class="tab-panel-heading">
    <span class="tab-panel-title panel-title-active">标签标题1</span>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item tab-panel-item-active">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
  </pre>
</div>

@@include('../include/foot.html')
