@@include('../include/head.html')

<div class="show-panel">
  <h3 class="page-header">标签切换面板</h3>

  <div class="show-tab-panel-div">
    <h4 class="page-header">风格1</h4>
    <div class="tab-panel style-1">
      <div class="tab-panel-heading">
        <span class="tab-panel-title active"><a href="###">标签标题1</a></span>
        <span class="tab-panel-title"><a href="###">标签标题2</a></span>
      </div>
      <div class="tab-panel-body">
        <div class="tab-panel-item active">
          标签内容1
        </div>
        <div class="tab-panel-item">
          标签内容2
        </div>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="tab-panel style-1">
  <div class="tab-panel-heading">
    <span class="tab-panel-title active">标签标题1</span>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item active">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
    </pre>
  </div>

  <div class="show-tab-panel-div">
    <h5>风格1没有边线</h5>
    <div class="tab-panel style-1 no-border">
      <div class="tab-panel-heading no-border">
        <a href="###" class="tab-panel-title active">标签标题1</a>
        <span class="tab-panel-title">标签标题2</span>
      </div>
      <div class="tab-panel-body">
        <div class="tab-panel-item active">
          标签内容1
        </div>
        <div class="tab-panel-item">
          标签内容2
        </div>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="tab-panel style-1 no-border">
  <div class="tab-panel-heading no-border">
    <a href="###" class="tab-panel-title active">标签标题1</a>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item active">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
    </pre>
  </div>

  <div class="show-tab-panel-div">
    <h5>风格1内容无间距</h5>
    <div class="tab-panel style-1">
      <div class="tab-panel-heading">
        <a href="###" class="tab-panel-title active">标签标题1</a>
        <span class="tab-panel-title">标签标题2</span>
      </div>
      <div class="tab-panel-body">
        <div class="tab-panel-item active no-spacing">
          标签内容1
        </div>
        <div class="tab-panel-item">
          标签内容2
        </div>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="tab-panel style-1">
  <div class="tab-panel-heading">
    <a href="###" class="tab-panel-title active">标签标题1</a>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item active no-spacing">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
    </pre>
  </div>

  <div class="show-tab-panel-div" style="padding: 10px; margin:10px 0; background-color:#f6f6f6;">
    <div class="tab-panel style-2">
      <div class="tab-panel-heading">
        <span class="tab-panel-title active">标签标题1</span>
        <a href="###" class="tab-panel-title">标签标题2</a>
      </div>
      <div class="tab-panel-body">
        <div class="tab-panel-item active">
          标签内容1
        </div>
        <div class="tab-panel-item">
          标签内容2
        </div>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="tab-panel style-2">
  <div class="tab-panel-heading">
    <span class="tab-panel-title active">标签标题1</span>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item active">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
    </pre>
  </div>

  <div class="show-tab-panel-div" style="padding: 10px; margin:10px 0";>
    <div class="tab-panel style-3">
      <div class="tab-panel-heading">
        <span class="tab-panel-title active"><a href="###">标签标题1</a></span>
        <span class="tab-panel-title"><a href="###">标签标题2</a></span>
      </div>
      <div class="tab-panel-body">
        <div class="tab-panel-item active">
          标签内容1
        </div>
        <div class="tab-panel-item">
          标签内容2
        </div>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="tab-panel style-3">
  <div class="tab-panel-heading">
    <span class="tab-panel-title active">标签标题1</span>
    <span class="tab-panel-title">标签标题2</span>
  </div>
  <div class="tab-panel-body">
    <div class="tab-panel-item active">
      标签内容1
    </div>
    <div class="tab-panel-item">
      标签内容2
    </div>
  </div>
</div>
    </pre>
  </div>
</div>

@@include('../include/foot.html')
