@@include('../include/head.html')

<div class="show-list">
  <h3 class="page-header">列表：<small>我们可以通过给<code>&lt;ul&gt;</code><code>&lt;ol&gt;</code>添加<code>list</code>类来实现列表展示</small></h3>
  <h4 class="page-header">无序列表：<small>默认使用<code>&lt;ul&gt;</code>实现</small></h4>
  <ul class="list">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h4 class="page-header">有序列表<small>默认使用<code>&lt;ol&gt;</code>实现</small> </h4>
  <ol class="list">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ol>
  <pre name="pre" class="html">
<ol class="list">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ol>
    </pre>
  <h4 class="page-header">列表嵌套</h4>
  <ol class="list">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？
      <ul class="list list-type-upper-latin">
        <li>CSS
          <ul class="list">
            <li>CSS2.0</li>
            <li>CSS3.0</li>
          </ul>
        </li>
        <li>JavaScript
          <ol class="list">
            <li>ECMAScript3.0</li>
            <li>ECMAScript5.0</li>
            <li>ECMAScript6.0</li>
            <li>ECMAScript7.0</li>
          </ol>
        </li>
        <li>HTML
          <ul class="list">
            <li>HTML4.1</li>
            <li>XHTML</li>
            <li>HTML5</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ol>
  <pre name="pre" class="html">
<ol class="list">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？
    <ul class="list list-type-upper-latin">
      <li>CSS
        <ul class="list">
          <li>CSS2.0</li>
          <li>CSS3.0</li>
        </ul>
      </li>
      <li>JavaScript
        <ol class="list">
          <li>ECMAScript3.0</li>
          <li>ECMAScript5.0</li>
          <li>ECMAScript6.0</li>
          <li>ECMAScript7.0</li>
        </ol>
      </li>
      <li>HTML
        <ul class="list">
          <li>HTML4.1</li>
          <li>XHTML</li>
          <li>HTML5</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ol>
    </pre>
  <h4 class="page-header">列表的样式：</h4>
  <p>我们可以通过给<code>&lt;ul&gt;</code><code>&lt;ol&gt;</code>添加不同的类来实现不同的列表序列样式，共计19种：</p>
  <ol class="arr-explain-list">
    <li><code>.list-type-disc</code>实心圆。</li>
    <li><code>.list-type-circle</code>空心圆。</li>
    <li><code>.list-type-square</code>实心方块。</li>
    <li><code>.list-type-decimal</code>阿拉伯数字。</li>
    <li><code>.list-type-lower-roman</code>小写罗马数字。</li>
    <li><code>.list-type-upper-roman</code>大写罗马数字。</li>
    <li><code>.list-type-lower-alpha</code>小写英文字母。</li>
    <li><code>.list-type-upper-alpha</code>大写英文字母。</li>
    <li><code>.list-type-armenian</code>不使用项目符号。</li>
    <li><code>.list-type-cjk-ideographic</code>传统的亚美尼亚数字。</li>
    <li><code>.list-type-georgian</code>浅白的表意数字。</li>
    <li><code>.list-type-lower-greek</code>传统的乔治数字。</li>
    <li><code>.list-type-hebrew</code>基本的希腊小写字母。</li>
    <li><code>.list-type-hiragana</code>传统的希伯莱数字。</li>
    <li><code>.list-type-hiragana-iroha</code>日文平假名字符。</li>
    <li><code>.list-type-katakana</code>日文平假名序号。</li>
    <li><code>.list-type-katakana-iroha</code>日文片假名字符。</li>
    <li><code>.list-type-lower-latin</code>日文片假名序号。</li>
    <li><code>.list-type-upper-latin</code>小写拉丁字母。</li>
  </ol>

  <h5 class="page-header">小写拉丁字母：</h5>
  <ul class="list list-type-upper-latin">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list list-type-upper-latin">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h5 class="page-header">浅白的表意数字：</h5>
  <ul class="list list-type-georgian">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list list-type-georgian">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h4 class="page-header">无列表序列样式：我们可以通过给列表添加<code>list-unstyled</code>类来取消列表的序列样式</small></h4>
  <ul class="list list-unstyled">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list list-unstyled">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h4 class="page-header">无列表序列样式列表嵌套</small></h4>
  <ul class="list list-unstyled">
    <li>前端技术的发展
      <ul class="list list-unstyled">
        <li>前端职位的崛起</li>
        <li>什么是前端开发，您真的了解前端吗？
          <ul class="list list-unstyled">
            <li>谈一下您对前端开发的理解</li>
            <li>前端技术都需要掌握哪些知识？
              <ul class="list list-unstyled">
                <li>前端未来的发展方向</li>
                <li>前端的最新技术是什么？</li>
                <li>为什么前端开发越来越复杂？</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>谈一下您对前端开发的理解</li>
        <li>前端技术都需要掌握哪些知识？</li>
        <li>前端未来的发展方向</li>
        <li>前端的最新技术是什么？</li>
        <li>为什么前端开发越来越复杂？</li>
      </ul>
    </li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list list-unstyled">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h4 class="page-header">横排列表：我们可以通过给列表添加<code>list-inline</code>类来实现横排列表</small></h4>
  <h5 class="page-header">有序横排列表：</h5>
  <ol class="list list-inline">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ol>
  <pre name="pre" class="html">
<ol class="list list-inline">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ol>
    </pre>
  <h5 class="page-header">无序横排列表：</h5>
  <ul class="list list-inline">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ul class="list list-inline">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ul>
    </pre>
  <h5 class="page-header">无列表序横排列表：</h5>
  <ul class="list list-inline list-unstyled">
    <li>前端技术的发展</li>
    <li>前端职位的崛起</li>
    <li>什么是前端开发，您真的了解前端吗？</li>
    <li>谈一下您对前端开发的理解</li>
    <li>前端技术都需要掌握哪些知识？</li>
    <li>前端未来的发展方向</li>
    <li>前端的最新技术是什么？</li>
    <li>为什么前端开发越来越复杂？</li>
  </ul>
  <pre name="pre" class="html">
<ol class="list list-inline list-unstyled">
  <li>前端技术的发展</li>
  <li>前端职位的崛起</li>
  <li>什么是前端开发，您真的了解前端吗？</li>
  <li>谈一下您对前端开发的理解</li>
  <li>前端技术都需要掌握哪些知识？</li>
  <li>前端未来的发展方向</li>
  <li>前端的最新技术是什么？</li>
  <li>为什么前端开发越来越复杂？</li>
</ol>
    </pre>
</div>

@@include('../include/foot.html')
