@@include('../include/head.html')

<div class="show-layout">
  <h3 class="page-header">页面的基本布局</h3>
  <div class="show-layout-div">
    <h4 class="page-header">两列布局，一列固定宽度，另一列自适应宽度：</h4>
    <h5 class="text-warning">左边固定右边自适应（代码结构是非主要内容在前，主要内容在后）</h5>
    <div class="layout layout-tow-columns layout-l-r">
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
      <div class="layout-main-wrap">
        <div class="layout-main">
          <h3>这里放置主要的内容</h3>
          <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
            2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>
          <p>
            S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>
          <p>
            尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
          <p>
            CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
            Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
        </div>
      </div>
    </div>
    <h5 class="text-warning">左边固定右边自适应（代码结构是主要内容在前，非主要内容在后）</h5>
    <div class="layout layout-tow-columns layout-l-r">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <h3>这里放置主要的内容</h3>
          <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
            2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>

          <p>
            S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>

          <p>
            尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
          <p>
            CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
            Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
        </div>
      </div>
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
    </div>
    <pre class="html" name="pre">
<!--代码结构1-->
<div class="layout layout-tow-columns layout-l-r">
  <div class="layout-main-wrap">
    <div class="layout-main">
      <h3>这里放置主要的内容</h3>
    </div>
  </div>
  <div class="layout-second">
    <h3>这里放置非主要的内容</h3>
  </div>
</div>
<!--代码结构2-->
<div class="layout layout-tow-columns layout-l-r">
  <div class="layout-second">
    <h3>这里放置非主要的内容</h3>
  </div>
  <div class="layout-main-wrap">
    <div class="layout-main">
      <h3>这里放置主要的内容</h3>
    </div>
  </div>
</div>
    </pre>

    <h5 class="text-warning">有边固定左边自适应（代码结构是非主要内容在前，主要内容在后）</h5>
    <div class="layout layout-tow-columns layout-r-l">
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
      <div class="layout-main-wrap">
        <div class="layout-main">
          <h3>这里放置主要的内容</h3>
          <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
            2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>

          <p>
            S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>

          <p>
            尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
          <p>
            CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
            Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
        </div>
      </div>
    </div>
    <h5 class="text-warning">右边固定左边自适应（代码结构是主要内容在前，非主要内容在后）</h5>
    <div class="layout layout-tow-columns layout-r-l">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <h3>这里放置主要的内容</h3>
          <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
            2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>

          <p>
            S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>

          <p>
            尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
          <p>
            CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
            Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
        </div>
      </div>
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
    </div>
    <pre class="html" name="pre">
<!--代码结构1-->
<div class="layout layout-tow-columns layout-r-l">
  <div class="layout-main-wrap">
    <div class="layout-main">
      <h3>这里放置主要的内容</h3>
    </div>
  </div>
  <div class="layout-second">
    <h3>这里放置非主要的内容</h3>
  </div>
</div>
<!--代码结构2-->
<div class="layout layout-tow-columns layout-r-l">
  <div class="layout-second">
    <h3>这里放置非主要的内容</h3>
  </div>
  <div class="layout-main-wrap">
    <div class="layout-main">
      <h3>这里放置主要的内容</h3>
    </div>
  </div>
</div>
    </pre>

    <dl class="arr-explain-list">
      <dt>布局介绍：</dt>
      <dd><code>layout</code>：表示最外层的元素的class，用这个来实现布局效果。</dd>
      <dd><code>layout-tow-columns</code>：表示的是两列布局的class。</dd>
      <dd><code>layout-l-r</code>：表示布局的方向，<code>layout-l-r</code>：表示主要内容在右，次要内容在左。<code>layout-r-l</code>：表示次要内容在右，主要内容在左。</dd>
      <dd><code>layout-second</code>：次要内容的class类。</dd>
      <dd><code>layout-main-wrap</code>：主要内容的父级元素的class类。</dd>
      <dd><code>layout-main</code>：主要内容的元素的class类。</dd>
      <dd>
        <p>这里需要说明的是：框架内，非主要内容区有一个固定的宽度250像素，我们在使用的时候可以通过自定义样式进行修改，给：<code>layout-second</code>的元素定义宽度；同时我们还需要给主要内容区的：<code>layout-main</code>类元素一个固定的外间距，可以和非主内容区宽度一直，或者大一些来实现有间距</p>
        <p>这里需要注意的是：如果我们使用的是：<code>layout-l-r</code>这个类，那么主要内容<code>layout-main</code>需要给<code>margin-left</code>间距，如果我们使用的是：<code>layout-r-l</code>这个类，那么主要内容<code>layout-main</code>需要给<code>margin-right</code>间距，</p>
      </dd>
    </dl>
  </div>
  <div class="show-layout-div">
    <h4 class="page-header">布局结构的嵌套</h4>
    <h5 class="text-warning">两边固定宽度中间自适应</h5>
    <div class="layout layout-tow-columns layout-r-l">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <div class="layout layout-tow-columns layout-l-r">
            <div class="layout-main-wrap">
              <div class="layout-main">
                <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
                  2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>
                <p>
                  S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>
                <p>
                  尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
                <p>
                  CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
                  Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
              </div>
            </div>
            <div class="layout-second">
              <h3>这里放置非主要的内容</h3>
              <ul class="list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="layout layout-tow-columns layout-r-l">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <div class="layout layout-tow-columns layout-l-r">
            <div class="layout-main-wrap">
              <div class="layout-main">
                文章内容区
              </div>
            </div>
            <div class="layout-second">
              <h3>次列表</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-second">
        <h3>主列表</h3>
      </div>
    </div>
    </pre>
    <h5 class="text-warning">左边两列固定，右边自适应</h5>
    <div class="layout layout-tow-columns layout-l-r">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <div class="layout layout-tow-columns layout-l-r">
            <div class="layout-main-wrap">
              <div class="layout-main">
                <p>2015年6月17日发布。截止发布日期，JavaScript的官方名称是ECMAScript 2015，Ecma国际意在更频繁地发布包含小规模增量更新的新版本，下一版本将于2016年发布，命名为ECMAScript
                  2016。从现在开始，新版本将按照ECMAScript+年份的形式发布。</p>
                <p>
                  S6是继ES5之后的一次主要改进，语言规范由ES5.1时代的245页扩充至600页。ES6增添了许多必要的特性，例如：模块和类以及一些实用特性，例如Maps、Sets、Promises、生成器（Generators）等。</p>
                <p>
                  尽管ES6做了大量的更新，但是它依旧完全向后兼容以前的版本，标准化委员会决定避免由不兼容版本语言导致的“web体验破碎”。结果是，所有老代码都可以正常运行，整个过渡也显得更为平滑，但随之而来的问题是，开发者们抱怨了多年的老问题依然存在。</p>
                <p>
                  CSS2.0是一套全新的样式表结构，是由W3C推行的，同以往的CSS1.0或CSS1.2完全不一样，CSS2.0推荐的是一套内容和表现效果分离的方式，HTML元素可以通过CSS2.0的样式控制显示效果，可完全不使用以往HTML中的table和td来定位表单的外观和样式，只需使用div和
                  Li此类HTML标签来分割元素，之后即可通过CSS2.0样式来定义表单界面的外观。</p>
              </div>
            </div>
            <div class="layout-second">
              <h3>这里放置非主要的内容</h3>
              <ul class="list">
                <li>CSS</li>
                <li>JavaScript</li>
                <li>HTML</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-second">
        <h3>这里放置非主要的内容</h3>
        <ul class="list">
          <li>前端技术的发展</li>
          <li>前端职位的崛起</li>
          <li>什么是前端开发，您真的了解前端吗？</li>
          <li>谈一下您对前端开发的理解</li>
          <li>前端技术都需要掌握哪些知识？</li>
          <li>前端未来的发展方向</li>
          <li>前端的最新技术是什么？</li>
          <li>为什么前端开发越来越复杂？</li>
        </ul>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="layout layout-tow-columns layout-r-l">
      <div class="layout-main-wrap">
        <div class="layout-main">
          <div class="layout layout-tow-columns layout-l-r">
            <div class="layout-main-wrap">
              <div class="layout-main">
                文章内容区
              </div>
            </div>
            <div class="layout-second">
              <h3>次列表</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="layout-second">
        <h3>主列表</h3>
      </div>
    </div>
    </pre>
  </div>


</div>

@@include('../include/foot.html')
