@@include('../include/head.html')

<div class="show-allSelect">
    <h4 class="page-header">这是表单中的全选组件，单组全选</h4>
    <table class="table" data-toggle="allSelect" data-all-name="hobby_all" data-target-name="hobby_1">
        <!--用來設置每一列的宽度-->
        <colgroup>
            <col width="50">
            <col width="300">
            <col width="auto">
            <col width="120" class="text-center">
        </colgroup>
        <thead>
        <tr>
            <th>选择</th>
            <th>名称</th>
            <th>说明</th>
            <th>程度</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>CSS</td>
            <td>层叠样式表(英文全称：Cascading Style
                Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。
            </td>
            <td>熟练</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>HTML</td>
            <td>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</td>
            <td>一般</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>JavaScript</td>
            <td>
                JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。
            </td>
            <td>不熟</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>CSS</td>
            <td>层叠样式表(英文全称：Cascading Style
                Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。
            </td>
            <td>熟练</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>HTML</td>
            <td>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</td>
            <td>一般</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>JavaScript</td>
            <td>
                JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。
            </td>
            <td>不熟</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>CSS</td>
            <td>层叠样式表(英文全称：Cascading Style
                Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。
            </td>
            <td>熟练</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>HTML</td>
            <td>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</td>
            <td>一般</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>JavaScript</td>
            <td>
                JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。
            </td>
            <td>不熟</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>CSS</td>
            <td>层叠样式表(英文全称：Cascading Style
                Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。
            </td>
            <td>熟练</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>HTML</td>
            <td>超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</td>
            <td>一般</td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_1">
                    <i class="dot evicon evicon-right-2"></i>
                </label>
            </td>
            <td>JavaScript</td>
            <td>
                JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。
            </td>
            <td>不熟</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <label class="checkbox-element sm">
                    <input type="checkbox" name="hobby_all">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">全选</span>
                </label>
            </td>
        </tr>
        </tfoot>
    </table>
    <pre class="html" name="pre">
<table class="table" data-toggle="allSelect" data-all-name="hobby_all" data-target-name="hobby_1">
  <tbody>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="hobby_1">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="hobby_1">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="hobby_all">
          <i class="dot evicon evicon-right-2"></i>
          <span class="checkbox-label">全选</span>
        </label>
      </td>
    </tr>
  </tfoot>
</table>
    </pre>
    <h5>属性说明：</h5>
    <ol class="arr-explain-list">
        <li>我们可以给任何的标签元素添加<code>data-toggle="allSelect"</code>属性来实现数据条目的全选，同时还需要提供两个属性<code>data-all-name="name"</code>：用来表示全选按钮的checkbox元素name值，<code>data-target-name="name"</code>：用来表示要选择的checkbox元素name值
        </li>
        <li>
            <p>需要说明的是这里所实现的全选是<code>&lt;input type="checkbox" /&gt;</code>标签的选择，同时全选按钮的<code>checkbox</code>name必须是你传入<code>data-all-name</code>的值，而且选择目标<code>checkbox</code>name必须是你传入<code>data-target-name</code>的值
            </p>
        </li>
    </ol>

    <h4 class="page-header">这是表单中的全选组件，多组全选</h4>
    <table class="table" data-toggle="allSelect" data-all-name="all_1,all_2,all_3,all_4"
           data-target-name="target_1,target_2,target_3,target_4">
        <!--用來設置每一列的宽度-->
        <colgroup>
            <col width="200">
            <col width="200">
            <col width="auto">
            <col width="200" class="text-center">
        </colgroup>
        <thead>
        <tr>
            <th>爱好选择</th>
            <th>语言选择</th>
            <th>技能选择</th>
            <th>其他选择</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">足球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">中文</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">层叠样式表(英文全称：Cascading Style
              Sheets)是一种用来表现HTML（标准通用标记语言的一个应用）或XML（标准通用标记语言的一个子集）等文件样式的计算机语言。CSS不仅可以静态地修饰网页，还可以配合各种脚本语言动态地对网页各元素进行格式化。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">熟练</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">篮球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">韩语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">超文本标记语言的结构包括“头”部分（英语：Head）、和“主体”部分（英语：Body），其中“头”部提供关于网页的信息，“主体”部分提供网页的具体内容。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">排球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">日语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">橄榄球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">英语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">羽毛球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">德语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">网球</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">西班牙语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">游戏</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">阿拉伯语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">编程</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">朝鲜语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">读书</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">加拿大语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">写作</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">俄罗斯语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">英语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">蒙语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">音乐</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">奥地利语</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">JavaScript一种直译式脚本语言，是一种动态类型、弱类型、基于原型的语言，内置支持类型。它的解释器被称为JavaScript引擎，为浏览器的一部分，广泛用于客户端的脚本语言，最早是在HTML（标准通用标记语言下的一个应用）网页上使用，用来给HTML网页增加动态功能。</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="target_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">一般</span>
                </label>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="all_1">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">全选</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="all_2">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">全选</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="all_3">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">全选</span>
                </label>
            </td>
            <td>
                <label class="checkbox-element sm">
                    <input type="checkbox" name="all_4">
                    <i class="dot evicon evicon-right-2"></i>
                    <span class="checkbox-label">全选</span>
                </label>
            </td>
        </tr>
        </tfoot>
    </table>
    <pre class="html" name="pre">
<table class="table" data-toggle="allSelect" data-all-name="all_1,all_2,all_3,all_4" data-target-name="target_1,target_2,target_3,target_4">
  <tbody>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="target_1">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="target_2">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="target_3">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="target_4">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
    </tr>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="hobby_1">
          <i class="dot evicon evicon-right-2"></i>
        </label>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="all_1">
          <i class="dot evicon evicon-right-2"></i>
          <span class="checkbox-label">全选</span>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="all_2">
          <i class="dot evicon evicon-right-2"></i>
          <span class="checkbox-label">全选</span>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="all_3">
          <i class="dot evicon evicon-right-2"></i>
          <span class="checkbox-label">全选</span>
        </label>
      </td>
      <td>
        <label class="checkbox-element sm">
          <input type="checkbox" name="all_4">
          <i class="dot evicon evicon-right-2"></i>
          <span class="checkbox-label">全选</span>
        </label>
      </td>
    </tr>
  </tfoot>
</table>
    </pre>
    <h5>属性说明：</h5>
    <ol class="arr-explain-list">
        <li>我们可以给任何的标签元素添加<code>data-toggle="allSelect"</code>属性来实现数据条目的全选，同时还需要提供两个属性<code>data-all-name="name_1,name_2,name_3,name_4"</code>：用来表示全选按钮的checkbox元素name值，<code>data-target-name="name_1,name_2,name_3,name_4"</code>：用来表示要选择的checkbox元素name值
        </li>
        <li>
            <p>需要说明的是这里所实现的全选是<code>&lt;input type="checkbox" /&gt;</code>标签的选择，同时全选按钮的<code>checkbox</code>name必须是你传入<code>data-all-name</code>的值，而且选择目标<code>checkbox</code>name必须是你传入<code>data-target-name</code>的值
            </p>
        </li>
        <li>
            <p><code>data-all-name</code>值，可以有多个，多个用逗号分隔开，传入多个和<code>data-target-name</code>的多个值一一对应</p>
        </li>
        <li>
            <p><code>data-target-name</code>值，可以有多个，多个用逗号分隔开，传入多个和<code>data-all-name</code>的多个值一一对应</p>
        </li>
    </ol>
</div>

@@include('../include/foot.html')
