@@include('../include/head.html')

<div class="show-forms-checkbox">
  <h3 class="page-header">复选按钮</h3>
  <h4 class="page-header">单个复选按钮</h4>
  <div class="checkbox-show">
    <h5 class="page-header">普通复选按钮</h5>
      <label class="checkbox-element">
        <input type="checkbox" name="hobby_0">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">足球</span>
      </label>
  </div>
  <pre class="html" name="pre">
<label class="checkbox-element">
  <input type="checkbox" name="hobby_1_1">
    <i class="dot evicon evicon-right-2"></i>
  <span class="checkbox-label">足球</span>
</label>
  </pre>

  <h4 class="page-header">多个复选按钮</h4>
  <div class="checkbox-show">
    <h5 class="page-header">普通复选按钮</h5>
    <div class="checkbox-element-group">
      <label class="checkbox-element">
        <input type="checkbox" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">足球</span>
      </label>
      <label class="checkbox-element checked">
        <input type="checkbox" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">篮球</span>
      </label>
      <label class="checkbox-element checked">
        <input type="checkbox" checked="checked" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">排球</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="checkbox-element">
    <input type="checkbox" name="hobby_1_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">足球</span>
  </label>
  <label class="checkbox-element checked">
    <input type="checkbox" checked="checked" name="hobby_1_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">篮球</span>
  </label>
  <label class="checkbox-element checked">
    <input type="checkbox" checked="checked" name="hobby_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">排球</span>
  </label>
</div>
  </pre>

  <div class="checkbox-show">
    <h5 class="page-header">禁止复选按钮</h5>
    <div class="checkbox-element-group">
      <label class="checkbox-element disabled">
        <input type="checkbox" disabled="disabled" name="hobby_2">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">足球</span>
      </label>
      <label class="checkbox-element disabled">
        <input type="checkbox" disabled="disabled" checked="checked" name="hobby_2">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">篮球</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="checkbox-element disabled">
    <input type="checkbox" disabled="disabled" name="hobby_2_2">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">足球</span>
  </label>
  <label class="checkbox-element disabled">
    <input type="checkbox" disabled="disabled" checked="checked" name="hobby_2_2">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">篮球</span>
  </label>
</div>
  </pre>

  <div class="checkbox-show">
    <h5 class="page-header">错误提示复选按钮</h5>
    <div class="checkbox-element-group">
      <label class="checkbox-element error">
        <input type="checkbox" name="hobby_3">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">足球</span>
      </label>
      <label class="checkbox-element error">
        <input type="checkbox" checked="checked" name="hobby_3">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">篮球</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="checkbox-element error">
    <input type="checkbox" disabled="disabled" name="hobby_3_3">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">足球</span>
  </label>
  <label class="checkbox-element error">
    <input type="checkbox" disabled="disabled" checked="checked" name="hobby_3_3">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">篮球</span>
  </label>
</div>
  </pre>

  <div class="checkbox-show">
    <h5 class="page-header">复选按钮大小</h5>
    <div class="checkbox-element-group">
      <label class="checkbox-element lg">
        <input type="checkbox" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">足球</span>
      </label>
      <label class="checkbox-element checked">
        <input type="checkbox" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">篮球</span>
      </label>
      <label class="checkbox-element checked sm">
        <input type="checkbox" checked="checked" name="hobby_1">
        <i class="dot evicon evicon-right-2"></i>
        <span class="checkbox-label">排球</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="checkbox-element">
    <input type="checkbox" name="hobby_1_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">足球</span>
  </label>
  <label class="checkbox-element checked">
    <input type="checkbox" checked="checked" name="hobby_1_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">篮球</span>
  </label>
  <label class="checkbox-element checked">
    <input type="checkbox" checked="checked" name="hobby_1">
    <i class="dot evicon evicon-right-2"></i>
    <span class="checkbox-label">排球</span>
  </label>
</div>
    </pre>


</div>

@@include('../include/foot.html')
