@@include('../include/head.html')

<div class="show-forms-input">
  <h3 class="page-header">日期时间选择插件</h3>
  <div class="datePicker-show">
    <h4 class="page-header">单日期选择器</h4>
    <div class="input-element prefix" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="0">
      <i class="evicon evicon-date-1"></i>
      <input type="text" size="20" autocomplete="off" name="" readonly="readonly" placeholder="选择日期" value="">
    </div>
    <pre class="html" name="pre">
<div class="input-element" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="0">
  <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择日期" value="2018-12-05">
</div>
    </pre>
    <dl>
      <dt>
        <p>我们给要添加日期选择插件的元素<code>input</code>：父级添加<code>data-toggle="datePicker"</code>属性来实现；</p>
      </dt>
      <dd>
        <ol class="arr-explain-list">
          <li><code>data-toggle="datePicker"</code>：表示元素中的<code>input</code>标签开启日期插件选择。</li>
          <li><code>data-date-type="YYYY-MM-DD"</code>：表示日期的格式：
            <ul class="list-type-upper-alpha">
              <li><code>YYYY</code>：表示只选择年；</li>
              <li><code>YYYY-MM</code>：表示选择年、月；</li>
              <li><code>YYYY-MM-DD</code>：表示选择年、月、日；</li>
              <li><code>YYYY-MM-DD HH:mm</code>：表示选择年、月、日、小时、分钟；</li>
              <li><code>YYYY-MM-DD HH:mm:ss</code>：表示选择年、月、日、小时、分钟、秒；</li>
              <li>
                可以书写的格式：
                <dl>
                  <dt>日期格式：</dt>
                  <dd>
                    <code>YYYY-MM-DD</code>、<code>YYYY/MM/DD</code>、<code>YYYY MM DD</code>或者自定义间隔符，同时年、月、日顺序可以互换
                  </dd>
                </dl>
              </li>
            </ul>
          </li>
          <li><code>data-date-max="2019-01-02"</code>：表示最大日期，时间可选择的范围，格式和日期格式一致</li>
          <li><code>data-date-min="2018-01-09"</code>：表示最小日期，时间可选择的范围，格式和日期格式一致</li>
          <li><code>data-date-isrange="0"</code>：表示是否开启日期区间选择，<code>0</code>或比添加：表示不开启，<code>1</code>：表示开启，<span class="text-warning">如果开启必须有两个<code>input</code>标签</span></li>
        </ol>
      </dd>
    </dl>
  </div>

  <div class="datePicker-show">
    <h4 class="page-header">案例</h4>
    <h5 class="page-header">选择年</h5>
    <div class="input-element suffix" data-toggle="datePicker" data-date-type="YYYY" data-date-max="2019" data-date-min="2018">
      <i class="evicon evicon-date-1"></i>
      <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年" value="">
    </div>
    <pre class="html" name="pre">
<div class="input-element suffix" data-toggle="datePicker" data-date-type="YYYY" data-date-max="2019" data-date-min="2018">
  <i class="evicon evicon-date-1"></i>
  <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年" value="">
</div>
    </pre>
    <h5 class="page-header">选择年/月</h5>
    <div class="input-element" data-toggle="datePicker" data-date-type="YYYY-MM" data-date-max="2019-10" data-date-min="2018-05">
      <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月" value="">
    </div>
    <pre class="html" name="pre">
<div class="input-element" data-toggle="datePicker" data-date-type="YYYY-MM" data-date-max="2019-10" data-date-min="2018-05">
  <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月" value="">
</div>
    </pre>
    <h5 class="page-header">选择年/月/日</h5>
    <div class="input-element" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-10-10" data-date-min="2018-10-03">
      <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月/日" value="">
    </div>
    <pre class="html" name="pre">
<div class="input-element" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-10-10" data-date-min="2018-10-03">
      <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月/日" value="">
</div>
    </pre>
    <h5 class="page-header">选择年/月/日 小时:分钟:秒</h5>
    <div class="input-element suffix" data-toggle="datePicker" data-date-type="YYYY-MM-DD HH:mm:ss" data-date-max="2019-10-10" data-date-min="2018-10-03">
      <i class="evicon evicon-date-2"></i>
      <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月/日" value="">
    </div>
    <pre class="html" name="pre">
<div class="input-element suffix" data-toggle="datePicker" data-date-type="YYYY-MM-DD HH:mm" data-date-max="2019-10-10" data-date-min="2018-10-03">
  <i class="evicon evicon-date-2"></i>
  <input type="text" autocomplete="off" name="" readonly="readonly" placeholder="选择年/月/日" value="">
</div>
    </pre>
  </div>

  <div class="datePicker-show">
    <h4 class="page-header">范围期选择器</h4>
    <h5 class="page-header">年、月、日日期范围</h5>
    <div class="input-element-joint" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="1">
      <div class="input-element">
        <input type="text" placeholder="输入文字">
      </div>
      <i class="joint-line">至</i>
      <div class="input-element">
        <input type="text" placeholder="输入文字">
      </div>
    </div>
    <pre class="html" name="pre">
<div class="input-element-joint" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="1">
  <div class="input-element">
    <input type="text" placeholder="输入文字">
  </div>
  <i class="joint-line">至</i>
  <div class="input-element">
    <input type="text" placeholder="输入文字">
  </div>
</div>
    </pre>
    <h5 class="page-header">年、月、日/时:分:秒日期范围</h5>
    <div class="input-element-joint" data-toggle="datePicker" data-date-type="YYYY-MM-DD HH:mm:ss" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="1">
      <div class="input-element prefix">
        <i class="evicon evicon-date-1"></i>
        <input type="text" placeholder="输入文字">
      </div>
      <i class="joint-line">至</i>
      <div class="input-element suffix">
        <i class="evicon evicon-date-1"></i>
        <input type="text" placeholder="输入文字">
      </div>
    </div>
    <pre class="html" name="pre">
<div class="input-element-joint prefix" data-toggle="datePicker" data-date-type="YYYY-MM-DD" data-date-max="2019-01-02" data-date-min="2018-01-09" data-date-isrange="1">
  <div class="input-element">
    <i class="evicon evicon-date-1"></i>
    <input type="text" placeholder="输入文字">
  </div>
  <i class="joint-line">至</i>
  <div class="input-element suffix">
    <i class="evicon evicon-date-1"></i>
    <input type="text" placeholder="输入文字">
  </div>
</div>
    </pre>
  </div>
</div>
@@include('../include/foot.html')
