@@include('../include/head.html')

<div class="show-forms-radio">
  <h3 class="page-header">单选按钮</h3>
  <div class="radio-show">
    <h5 class="page-header">单个单选按钮</h5>
    <label class="radio-element">
      <input type="radio" name="sex_0">
      <i class="dot"></i>
      <span class="radio-label">单选</span>
    </label>
  </div>
  <pre class="html" name="pre">
<label class="radio-element">
  <input type="radio" name="sex_0_0">
  <i class="dot"></i>
  <span class="radio-label">单选</span>
</label>
      </pre>

  <h4 class="page-header">多个单选按钮</h4>
  <div class="radio-show">
    <h5 class="page-header">普通单选按钮</h5>
    <div class="radio-element-group">
      <label class="radio-element">
        <input type="radio" name="sex_1">
        <i class="dot"></i>
        <span class="radio-label">男</span>
      </label>
      <label class="radio-element checked">
        <input type="radio" checked="checked" name="sex_1">
        <i class="dot"></i>
        <span class="radio-label">女</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="radio-element-group">
  <label class="radio-element">
    <input type="radio" name="sex_1_1">
    <i class="dot"></i>
    <span class="radio-label">男</span>
  </label>
  <label class="radio-element checked">
    <input type="radio" checked="checked" name="sex_1_1">
    <i class="dot"></i>
    <span class="radio-label">女</span>
  </label>
</div>
      </pre>

  <div class="radio-show">
    <h5 class="page-header">禁止单选按钮</h5>
    <div class="radio-element-group">
      <label class="radio-element disabled">
        <input type="radio" disabled="disabled" name="sex_2">
        <i class="dot"></i>
        <span class="radio-label">男</span>
      </label>
      <label class="radio-element disabled">
        <input type="radio" disabled="disabled" checked="checked" name="sex_2">
        <i class="dot"></i>
        <span class="radio-label">女</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="radio-element-group">
  <label class="radio-element disabled">
    <input type="radio" disabled="disabled" name="sex_2_2">
    <i class="dot"></i>
    <span class="radio-label">男</span>
  </label>
  <label class="radio-element disabled">
    <input type="radio" disabled="disabled" checked="checked" name="sex_2_2">
    <i class="dot"></i>
    <span class="radio-label">女</span>
  </label>
</div>
    </pre>

  <div class="radio-show">
    <h5 class="page-header">错误提示单选按钮</h5>
    <div class="radio-element-group">
      <label class="radio-element warning">
        <input type="radio" name="sex_3">
        <i class="dot"></i>
        <span class="radio-label">男</span>
      </label>
      <label class="radio-element warning">
        <input type="radio" checked="checked" name="sex_3">
        <i class="dot"></i>
        <span class="radio-label">女</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="radio-element-group">
  <label class="radio-element warning">
    <input type="radio" disabled="disabled" name="sex_3_3">
    <i class="dot"></i>
    <span class="radio-label">男</span>
  </label>
  <label class="radio-element warning">
    <input type="radio" disabled="disabled" checked="checked" name="sex_3_3">
    <i class="dot"></i>
    <span class="radio-label">女</span>
  </label>
</div>
      </pre>

  <div class="radio-show">
    <h5 class="page-header">单选按钮大小</h5>
    <div class="radio-element-group">
      <label class="radio-element lg">
        <input type="radio" name="sex_4">
        <i class="dot"></i>
        <span class="radio-label">大</span>
      </label>
      <label class="radio-element checked">
        <input type="radio" checked="checked" name="sex_4">
        <i class="dot"></i>
        <span class="radio-label">默认</span>
      </label>
      <label class="radio-element checked sm">
        <input type="radio" checked="checked" name="sex_4">
        <i class="dot"></i>
        <span class="radio-label">小</span>
      </label>
    </div>
  </div>
  <pre class="html" name="pre">
<div class="radio-element-group">
  <label class="radio-element lg">
    <input type="radio" name="sex_4">
    <i class="dot"></i>
    <span class="radio-label">大</span>
  </label>
  <label class="radio-element checked">
    <input type="radio" checked="checked" name="sex_4">
    <i class="dot"></i>
    <span class="radio-label">默认</span>
  </label>
  <label class="radio-element checked sm">
    <input type="radio" checked="checked" name="sex_4">
    <i class="dot"></i>
    <span class="radio-label">小</span>
  </label>
</div>
  </pre>

</div>

@@include('../include/foot.html')
