@@include('../include/head.html')
<div class="show-forms-sub">
  <h3 class="page-header">开关按钮</h3>
  <h4 class="page-header">单个开关按钮</h4>
  <div class="switch-show">
    <h5 class="page-header">默认开关</h5>
    <label class="switch-element">
      <input type="checkbox" name="hobby_1">
      <span class="switch-btn">
        <i class="NO">No</i>
        <i class="OFF">OFF</i>
        <em class="dot"></em>
      </span>
    </label>
    <pre class="html" name="pre">
<label class="switch-element">
  <input type="checkbox" name="hobby_1">
  <span class="switch-btn">
    <i class="NO">No</i>
    <i class="OFF">OFF</i>
    <em class="dot"></em>
  </span>
</label>
    </pre>
  </div>
  <div class="switch-show">
    <h5 class="page-header">选中开关</h5>
    <label class="switch-element">
      <input type="checkbox" checked="checked" name="hobby_1">
      <span class="switch-btn">
        <i class="NO">No</i>
        <i class="OFF">OFF</i>
        <em class="dot"></em>
      </span>
    </label>
    <pre class="html" name="pre">
<label class="switch-element">
  <input type="checkbox" checked="checked" name="hobby_1">
  <span class="switch-btn">
    <i class="NO">No</i>
    <i class="OFF">OFF</i>
    <em class="dot"></em>
  </span>
</label>
    </pre>
  </div>
  <div class="checkbox-show">
    <h5 class="page-header">禁止使用开关</h5>
    <div class="switch-element-group">
      <label class="switch-element disabled">
        <input type="checkbox" disabled="disabled" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
    </div>
    <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="switch-element disabled">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
</div>
    </pre>
  </div>
  <div class="checkbox-show">
    <h5 class="page-header">禁止使用选中开关</h5>
    <div class="switch-element-group">
      <label class="switch-element disabled">
        <input type="checkbox" checked="checked" disabled="disabled" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
    </div>
    <pre class="html" name="pre">
<div class="checkbox-element-group">
  <label class="switch-element disabled">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
</div>
    </pre>
  </div>
  <div class="checkbox-show">
    <h5 class="page-header">错误提示复选按钮</h5>
    <label class="switch-element warning">
      <input type="checkbox" name="hobby_1">
      <span class="switch-btn">
        <i class="NO">No</i>
        <i class="OFF">OFF</i>
        <em class="dot"></em>
      </span>
    </label>
    <pre class="html" name="pre">
<label class="switch-element warning">
  <input type="checkbox" name="hobby_1">
  <span class="switch-btn">
    <i class="NO">No</i>
    <i class="OFF">OFF</i>
    <em class="dot"></em>
  </span>
</label>
    </pre>
  </div>

  <h4 class="page-header">多个开关按钮</h4>
  <div class="checkbox-show">
    <div class="switch-element-group">
      <label class="switch-element">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
      <label class="switch-element">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
      <label class="switch-element">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
    </div>
    <pre class="html" name="pre">
<div class="switch-element-group">
  <label class="switch-element">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
  <label class="switch-element">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
  <label class="switch-element">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
</div>
    </pre>
  </div>

  <h4 class="page-header">开关大小</h4>
  <div class="checkbox-show">
    <p>可以给<code>switch-element</code>类的标签添加<code>lg</code>，<code>sm</code>，<code>xs</code>实现大小开关</p>
    <div class="switch-element-group">
      <label class="switch-element lg">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
      <label class="switch-element">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
      <label class="switch-element sm">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
      <label class="switch-element xs">
        <input type="checkbox" name="hobby_1">
        <span class="switch-btn">
          <i class="NO">No</i>
          <i class="OFF">OFF</i>
          <em class="dot"></em>
        </span>
      </label>
    </div>
    <pre class="html" name="pre">
<div class="switch-element-group">
  <label class="switch-element lg">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
  <label class="switch-element">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
  <label class="switch-element sm">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
  <label class="switch-element xs">
    <input type="checkbox" name="hobby_1">
    <span class="switch-btn">
      <i class="NO">No</i>
      <i class="OFF">OFF</i>
      <em class="dot"></em>
    </span>
  </label>
</div>
    </pre>
  </div>
</div>

@@include('../include/foot.html')
