@@include('../include/head.html')
<div class="show-forms-sub">
  <h3 class="page-header">输入框</h3>
  <div class="textarea-show">
    <h4 class="page-header">单个输入框</h4>
    <h5 class="page-header">普通输入框</h5>
    <div class="textarea-element">
      <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element">
  <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
</div>
        </pre>
    <h5 class="page-header">错误输入框</h5>
    <div class="textarea-element error">
      <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element error">
  <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
</div>
        </pre>
    <h5 class="page-header">正确输入框</h5>
    <div class="textarea-element success">
      <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element success">
  <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
</div>
        </pre>
    <h5 class="page-header">禁用输入框</h5>
    <div class="textarea-element disabled">
      <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element disabled">
  <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
</div>
        </pre>
    <h5 class="page-header">不可以拖动改变大小输入框</h5>
    <div class="textarea-element no-resize">
      <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element no-resize">
  <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
</div>
        </pre>
    <h5 class="page-header">文本域组</h5>
    <div class="textarea-element-group">
      <div class="textarea-element no-resize">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
      <div class="textarea-element no-resize">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
      <div class="textarea-element no-resize">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element-group">
  <div class="textarea-element no-resize">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
  <div class="textarea-element no-resize">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
  <div class="textarea-element no-resize">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
</div>
        </pre>

    <h5 class="page-header">整行文本域组</h5>
    <div class="textarea-element-group">
      <div class="textarea-element block">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
      <div class="textarea-element block">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
      <div class="textarea-element block">
        <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
      </div>
    </div>
    <pre class="html" name="pre">
<div class="textarea-element-group">
  <div class="textarea-element block">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
  <div class="textarea-element block">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
  <div class="textarea-element block">
    <textarea placeholder="输入文字" cols="50" rows="5"></textarea>
  </div>
</div>
        </pre>

  </div>
</div>
@@include('../include/foot.html')
